.e-button {
	border-radius: 2px;
	background-color: $gray_10;
	color: $purple;
	font-weight: 400;
	padding: 4px 14px;
	margin: 5px 30px 5px 0;
	display: block;
	cursor: pointer;
	text-align: center;

	&.m-large {
		padding: 12px 30px 10px;
		font-size: 1.6rem;
		border-radius: 3px;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {

.e-button {
	display: inline-block;
	margin: 0 5px 0 0;

	&:hover {
		background-color: $purple;
		@include drop-shadow-light;
		color: $white_70;
	}
}

}