.b-card-isotopes .b-card { display: block; }
.b-card { display: inline-block; }


// Cards General Styles
.b-card {
	margin: 5px;

	.b-wrapper {
		position: relative;
		background-color: $white;
		width: calc(100%);
		@include drop-shadow-light;

		&:before {
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 4px;
			z-index: 1;
		}

		.b-pop-controls {
			.e-pop-button { display: none; }
			.e-pop-button:first-of-type,
			.e-pop-button:nth-of-type(2) { display: block; }
		}

		.e-card-content {
			margin-top: 10px;
			overflow-y: hidden;
			padding: 0 15px 15px;

			h4 { font-size: 1rem; }

			p {
				font-size: 14px;
				line-height: 17px;
				margin-bottom: .5rem;
			}
		}

	}
}

.b-card.m-govlab-True { h4 { color: $purple; }
	.b-wrapper:before { background-color: $purple; }
}

.b-card.m-govlab-False { h4 { color: $scheme-comp_4; }
	.b-wrapper:before { background-color: $scheme-comp_4; }
}

.b-card.m-people {
	.b-card-header {
		position: relative;
		z-index: 0;
	}
	
	.e-person-pic {
		min-width: 100%;
		margin: 0;
		height: 0;
		padding-bottom: 80%;
		overflow: hidden;
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	
	h3 {
		position: absolute;
		bottom: 0;
		font-size: 1.2rem;
		color: $white;
		margin: 0;
		padding: 20px 15px 0;
		width: 100%;
		height: 50px;
		@include card-gradient;
	}

	.e-card-content { max-height: 255px; }
}


// Resetting some values of the basic card
.b-card.m-mini-card .b-wrapper {
	background-color: transparent;
	border: none;
	box-shadow: none;
	&:before {display: none;}
	.b-pop-controls { display: none;}
	.e-card-content { display: none;}
}

// Setting values for the mini-card modifier

.b-card.m-mini-card { margin: 0 5px; }

.b-card.m-mini-card .b-wrapper {
	text-align: center;
	width: auto;
	height: auto;
	
	.b-card-header {
		.e-person-pic {
			width: 80px;
			min-width: 0;
			height: 80px;
			margin: 0 auto 10px;
			padding: 0;
			border-width: 2px;
			border-style: solid;
		  background-position: center center;
		  background-repeat: no-repeat;
		  background-size: cover;
		  @include drop-shadow-light;
		  @include circle;
		}

		h3 {
			font-size: 12px;
			font-weight: 600;
			text-align: center;
			background: transparent;
			position: static;
			@include transition;
			width: auto;
			color: $gray_60;
			padding: 0;
			height: auto;
		}
	}
}

.b-card.m-mini-card.m-govlab-True .e-person-pic {
	border-color: $purple;
	background-color: $purple;
}

.b-card.m-mini-card.m-govlab-False .e-person-pic {
	border-color: $scheme-comp_3;
	background-color: $scheme-comp_3;
}


/* Mobile Only ----------- */

@media only screen and (max-width : $desktop_width) {

.b-card .b-pop-controls {
	right: 15px;
	top: 15px;
	opacity: 1;
	pointer-events: auto;
	.e-pop-button.m-pin { display: none; }
	.e-pop-button:first-of-type,
	.e-pop-button:nth-of-type(2) {
		transform: scale(1.1, 1.1);
	}
}

.b-card.m-mini-card {
	margin-bottom: 10px;
}

} // Closing Media Query

/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {

// Cards General Styles
.b-card .b-wrapper {
	width: 232px;
	height: 400px;

	.e-card-content {
		margin-top: 10px;
		overflow-y: hidden;
		padding: 0 15px 15px;

		h4 { font-size: 1rem; }

		p {
			font-size: 14px;
			line-height: 17px;
			margin-bottom: .5rem;
		}
	}
}

.b-card.m-people .e-card-content { height: 190px; }

.b-card .b-pop-controls {
	left: -15px;
	top: 30px;
}

.b-card.m-mini-card { float: right; }




} // Closes Media Query