
.e-faq-trigger { cursor: pointer; }

#courses-page .b-course-info li strong {
	left: -90px;
}

#contact-message {
	h3 {
		color: $gray_60;
	}
}

.b-course-info {
	li {
		list-style-type: none;
		position: relative;
		line-height: 1.4;
		margin-bottom: 10px;
		margin-left: 60px;

		strong {
			color: $gray_50;
			display: inline-block;
			width: 72px;
			position: absolute;
			left: -85px;
			text-align: right;
		}
	}
}

/* Mobile Only ----------- */
@media only screen and (max-width : $desktop_width) {
	
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {
.b-course-info {
	li {
		margin-left: 90px;

		&:before {
			display: none;
		}

		strong {
			width: 72px;
			left: -93px;
		}
	}
}
} // Media query