.b-course-list {
	ul {
		margin-bottom: 0;
		margin-left: 0;
		padding: 0;
	}

	.b-course-list-item {
		position: relative;
		border: 1px solid $gray_20;
		background-color: $white;
		vertical-align: top;
		margin: 5px;
		margin-bottom: 10px;
		padding: 0;
		padding-top: 20px;
		@include drop-shadow-light;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 6px;
			height: 100%;
		}
		
		.e-course-description, 
		.e-course-date,
		.e-course-application,
		.e-course-name,
		.e-course-controls {
			margin-left: 30px;			
		}
		
		.e-course-description {
			margin-right: 30px;
			margin-bottom: 20px;
		}

		.e-course-date,
		.e-course-application {
			font-size: 1.1rem;
			line-height: 1.1rem;
			text-transform: uppercase;
			font-weight: 600;
			display: block;

			span {
				font-weight: 600;
				color: $gray_30;
			}
		}

		.e-course-application {

		}

		.e-certifications {
			padding: 0 30px 10px 30px;

			img {
				width: 40px;
				overflow: hidden;
				border-radius: 50%;
				background-color: $gray_20;
			}
		}

		.e-partner {
			padding: 5px 0 5px 30px;
			margin: 0;

			&:before {
				content: "In partnership with "
			}
		}

		.e-button:hover {
			color: $white;
		}
	}
}

.e-course-controls {
	display: block;
	vertical-align: bottom;
	padding-bottom: 10px;
}

.e-course-faculty {
	display: block;
	margin: 0 20px 40px 30px;
}

.b-course-list-item.m-workshop.m-crosslisted-True {
	.e-partner:before { content: "This workshop is offered by " }
}
/* Mobile Only ----------- */
@media only screen and (max-width : $desktop_width) {
.e-course-faculty {
	.b-card.m-people { padding-bottom: 0 }
}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {

.b-course-list-item {
	&:before {
		margin-top: -8px;
	}

	.e-course-name {
		margin-right: 120px;
	}

	.e-course-description {
		margin-right: 120px;
	}

	.e-certifications {
		position: absolute;
		right: 0;
		top: 0;
		padding: 20px !important;
	}
}

.e-course-controls {
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 40px;
	padding-top: 40px;
}

.e-course-faculty {
	height: 100px;
	float: right;
}

} // Media query