.b-go-to,
.b-go-to:hover {
	background-color: transparent;
}

.b-card.m-project:hover {
	@include drop-shadow;
}


/* Mobile Only ----------- */
@media only screen and (max-width : $desktop_width) {
#gallery-page {
	h2 {
		margin-bottom: 0;
	}
	.b-pop-controls {
		text-align: center;
	}

	.e-pop-button {
		display: inline-block;
		margin: 5px;
	}

	.m-pin {
		display: none;
	}
}

.b-project-header {
	iframe {
		width: 200px;
		padding-bottom: 50%;
		height: 0;
	}
}




}
