#homepage {
	padding-top: 0;

	#intro {
		margin-bottom: 0;
		padding-top: 80px;
		padding-bottom: 40px;

		#academy-icon {
			opacity: 0.1;
			width: 200px;
			left: calc(50% - 100px);
			border: 6px solid #000;
			border-radius: 50%;
			position: absolute;
		}

		.b-quote {

			.e-text {
				color: $gray_60;
				font-weight: 100;
				font-size: 2.5rem;
				line-height: 1.3;
				position: relative;
				font-style: italic;
			}
			
			.e-author {
				text-align: right;
				text-transform: uppercase;
				color: $gray_60;
				margin: 0;
				font-size: 0.9rem;
				line-height: .9rem;
				font-weight: 400;
			}
			
			.e-author-title {
				text-align: right;
				color: $gray_60;
				margin: 0;
				font-style: italic;
				font-weight: 300;
				font-size: 0.8rem;
				line-height: 1rem;
			}
		}
	} // Closing #Intro

	#explanation {
		@include inner-shadow;
		padding-top: 40px;
		background-color: $scheme-comp_3;


		p, li {
			color: $white;
			font-weight: 100;
		}

		a {
			color: $gray_50;
			font-weight: 300;

			&:hover {
				background-color: $gray_20;
			}
		}

		li:before {
			border-left-color: $white_50;
		}
	}

	.b-partners {
		padding: 20px 0;
		text-align: center;

		.e-partner-logo {
			display: block;

			max-width: 220px;
			// float: left;
			margin: 40px auto;

			&:hover {
				background-color: transparent !important;
			}
		}

		#ogp { max-width: 100px; }
		#stanford-design-school { max-width: 140px; }
		#cusp { max-width: 180px; }
	}
}

.b-signup {
	text-align: center;
	@include inner-shadow;
	padding: 40px 0;
	background-color: $govlab-purple_6;


	label {
		font-size: 2rem;
		color: $govlab-purple_1;
		font-weight: 300;
		display: block;
		vertical-align: bottom;
		margin-bottom: 10px;
	}

	input.email {
		padding: 10px 16px 8px;
		font-size: 1.5rem;
		font-weight: 200;
		font-size: 1.2rem;
		vertical-align: top;
		width: 190px;
		border: 1px solid $govlab-purple_2;
		border-right: 0;
		border-radius: 3px 0 0 3px;
	}

	.e-button {
		width: auto;
		border-radius: 0 3px 3px 0;
		margin: 0;
		vertical-align: top;
		padding: 9px 16px 9px;
		margin-left: -4px;
		font-size: 1.2rem;
		border: 1px solid $govlab-purple_2;
		background-color: $govlab-purple_1;
		display: inline-block;
		font-weight: 200;

		&:hover {
			background-color: $govlab-purple_3;
		}
	}
}


#canvas {
	display: none;

	h2 {
		margin-bottom: 0;
	}

	h3 {
		font-size: 1.1rem;
		opacity: 1;
		text-align: center;
		font-weight: 600;
		color: $purple;
	}
}

.b-canvas {
	.e-canvas-title {
		text-align: center;
	}
	.e-left,
	.e-right {
		p {
			padding: 5px 10px;
			background-color: $white;
			border: 1px solid $purple_20;
			border-left: 4px solid $purple;
			box-shadow: 0 0 5px $gray_10;
			margin: 3px 10px;
		}
	}
}

#canvas-title-icon {
	opacity: .4;

	.lines {
		display: none;
	}
}

.b-courses-overview {

	h2 {
		margin-bottom: 40px;
		margin-top: 40px;
	}

	.e-course-navigation {
		text-align: center;
		width: 100%;
		overflow: hidden;
		
		> div {
			width: 140%;
			@include transition;

		}

		span {
			display: inline-block;
			width: 25%;
			text-align: center;
			font-size: .9rem;
			color: $gray_50;
			background-color: $gray_10;
			margin: 0;
		}

		span:hover {
			color: $white;
			background-color: $gray_50;
		}

		span.m-active {
			background-color: $gray_80;
			color: $white;
		}

		span:hover,
		span.m-active:hover {
			// background-color: $orange;
			color: $white;
		}
	}
	
	.b-course-summary {
		padding: 10px 40px 40px;
		background-color: $gray_50;
		height: 350px;

		h3 {
			margin-top: 20px;
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			opacity: .6;
			font-size: 1.8rem;
		}

		h4 {
			font-weight: 600;
			font-size: 1.2rem;
			color: $gray_50;
			margin-bottom: 0;
			margin-top: 20px;
			letter-spacing: .5px;
		}

		p {
			color: $white;
		}

		.b-course-info {
			padding: 20px 0;
			margin-top: 20px;
			border-top: 1px solid $white_30;
			li { color: $white; }
		}

		.e-more-info {
			margin-top: 20px;
			position: absolute;
			bottom: 20px;
			width: 80%;
			left: 10%;

			a {
			display: block;
			background-color: $gray_15;
			color: $white_50;
			font-weight: 600;
			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding: 3px;
			border-radius: 3px;
			}
		}
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {
	
	#homepage {
		> section {		
			padding-bottom: 40px;
		}

		#intro {
			padding-top: 120px;
			padding-bottom: 120px;
			background-size: 25%;

			#academy-icon {
				width: 320px;
				left: calc(50% - 160px);
			}

			.b-quote {

				.e-text {
					font-size: 4rem;
					line-height: 1.3;

					&:before {
						left: -30px;
					  top: -30px;
					}

					&:after {
						right: -30px;
					  bottom: -120px;
					}
				}

				.e-author {
					font-size: 1.2rem;
					line-height: 1.4rem;
				}
				
				.e-author-title {
					font-size: 1rem;
					line-height: 1.1rem;
				}
			}
		}

		#explanation {

			h3 {
				font-size: 1.3rem;
				color: $gray_80;
			}

			p,
			.b-list li {
				margin-bottom: 8px;
			}
		}

		

		.b-partners {
			.e-partner-logo { 
				display: inline-block;
				margin: 20px;
			}

			
		}
	}
	
	#canvas {
		display: block;

		h2 {
			margin-bottom: 0;
		}

		h3 {
			font-size: 1.6rem;
			opacity: 1;
			text-align: center;
			font-weight: 600;
			margin-bottom: 30px;
		}
	}

	.b-canvas {
		position: relative;

		h3 {
			text-align: center;

		}
		
		.e-canvas-title {

			
			#canvas-title-icon {
				height: 97%;
				position: absolute;
				left: calc(50% - 177px);
				top: 4px;
				.canvas-icon {
					opacity: .4;
				}

				.lines {
					fill: none;
					display: block;
					opacity: .4;
					stroke: $purple;
					stroke-width: 3; 
					stroke-miterlimit: 10;
				}
			}
			
		}
		.e-left,
		.e-right {
			width: 35%;
			
		}
		p {
			position: relative;
		}

		.e-left {
			float: left;

			p {
				text-align: right;
				border-right: 4px solid $purple;
				border-left: 1px solid $purple_20;
				padding-right: 15px;
			}
		}

		.e-right {
			float: right;
			p {
				padding-left: 15px;						
			}
		}
	}
	
	.b-signup {
		label { 
			display: inline-block;
			margin-right: 50px;
		}

		input.email {width: 400px;}

	}


	.b-courses-overview {
		.e-course-navigation { display: none;}
		.swipe {
		  visibility: visible;
		  position: relative;
		}
		.swipe-wrap {
			width: 100% !important;
		}
		.b-course-summary {
			float: left;
			width: 48.3% !important;
			height: 335px;
			margin-right: 1.3%;
			margin-bottom: 1.3%;
			@include drop-shadow_light;


			h3 {
				font-size: 1.6rem;
			}

			&:before, 
			&:after {
				display: none;
			}
		}

		#master-courses p {letter-spacing: -0.1px;}
		
	}
	#courses-page .b-courses-overview .b-course-summary { height: 700px; }
	
} // MediaQuery