#homepage {
	padding-top: 0;

	#intro {
		margin-bottom: 0;
		padding-top: 60px;
		padding-bottom: 40px;

		h2 {
			padding: 10px 0;
		}

		.e-canvas-link:hover {
			background-color: transparent;
		}
		
		.b-share {

			.share-button {
				float: none;
				width: 92px;
				margin: 10px auto;

			}	
		}
		
	} // Closing #Intro

	#explanation {
		@include inner-shadow;
		padding-top: 40px;
		background-color: $purple;
		
		p, li {
			color: $white;
			font-weight: 100;
		}

		li:before {
			border-left-color: $white_50;
		}
	}

	.b-social-media-container .e-pop-button {
		transform: scale(1.3);
	}
}

.b-social-media-container { 
	text-align: center;
	padding: 0 0 40px;

	.e-pop-button {
		margin: 0 30px;
	}
}

.b-partners {
	padding: 20px 0;
	text-align: center;

	.e-partner-logo {
		display: block;

		max-width: 220px;
		// float: left;
		margin: 40px auto;

		&:hover {
			background-color: transparent !important;
		}
	}

	#ogp { max-width: 100px; }
	#stanford-design-school { max-width: 140px; }
	#cusp { max-width: 180px; }
}

.b-signup {
	text-align: center;
	@include inner-shadow;
	padding: 40px 0;
	margin-top: -20px;
	background-color: $gray_80;
	
	h3 {
		color: $white_50;
		margin-bottom: 0;
	}

	.e-tagline { 
		color: $white_70;
		margin-bottom: 40px;
	}

	label {
		font-size: 2rem;
		color: $govlab-purple_1;
		font-weight: 300;
		display: block;
		vertical-align: bottom;
		margin-bottom: 10px;
	}

	input.email {
		padding: 10px 16px 8px;
		font-size: 1.5rem;
		font-weight: 200;
		font-size: 1.2rem;
		vertical-align: top;
		width: 190px;
		border: 1px solid $govlab-purple_2;
		border-right: 0;
		border-radius: 3px 0 0 3px;
	}

	.e-button {
		width: auto;
		border-radius: 0 3px 3px 0;
		margin: 0;
		vertical-align: top;
		padding: 9px 16px 9px;
		margin-left: -4px;
		font-size: 1.2rem;
		border: 1px solid $govlab-purple_2;
		background-color: $govlab-purple_1;
		display: inline-block;
		font-weight: 200;

		&:hover {
			background-color: $govlab-purple_3;
		}
	}
}
.b-signup.m-digest {
	background-color: $purple;
}


#canvas {
	h2 {
		margin-bottom: 0;
	}

	h3 {
		font-size: 1.1rem;
		opacity: 1;
		text-align: center;
		font-weight: 600;
		color: $purple;
	}
}

.b-canvas {
	.e-canvas-title { text-align: center; }
	.e-left,
	.e-right {
		p {
			padding: 5px 10px;
			background-color: $white;
			border: 1px solid $purple_20;
			border-left: 4px solid $purple;
			box-shadow: 0 0 5px $gray_10;
			margin: 3px 10px;
		}
	}
}

#canvas-title-icon { opacity: .4;
	.lines { display: none; }
}

.b-courses-overview {

	h2 {
		margin-bottom: 40px;
		margin-top: 40px;
	}

	.b-course-summary {
		padding: 10px 40px 40px;
		margin-bottom: 20px;
		background-color: $gray_50;

		h3 {
			margin-top: 20px;
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			opacity: .6;
			font-size: 1.8rem;
		}

		h4 {
			font-weight: 600;
			font-size: 1.2rem;
			color: $gray_50;
			margin-bottom: 0;
			margin-top: 20px;
			letter-spacing: .5px;
		}

		p {
			color: $white;
		}

		.b-course-info {
			padding: 20px 0;
			margin-top: 20px;
			border-top: 1px solid $white_30;
			li { color: $white; }
		}

		.e-more-info {
			margin-top: 20px;
			left: 10%;

			a {
				display: block;
				background-color: $gray_15;
				color: $white_50;
				font-weight: 600;
				text-align: center;
				letter-spacing: 1px;
				text-transform: uppercase;
				padding: 3px;
				border-radius: 3px;
			}
		}
	}
}

#digest {
	padding-top: 40px;
}


#demos-for-democracy {
	background-image: url("../img/demos-democracy-banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	@include inner-shadow;
	margin-bottom: -20px;

	div { height: 150px; }
}

/* Phones Only ----------- */
@media only screen and (max-width : $desktop_width) {
.b-signup {
	input.email {
		border-radius: 3px;
		border: 1px solid $gray_80;
	}

	.e-button {
	display: block;
	margin: 10px auto;
	}
}

.e-more-info { width: 100%; }
}



/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {
	
	#homepage {

		> section {	padding-bottom: 40px; }

		#intro {
			padding-top: 100px;
			padding-bottom: 60px;


			.e-site-title { 
				font-size: 5rem;
				letter-spacing: 2px;
				text-shadow: 0 0 18px $gray_80;
				font-weight: 600;
				margin: 0;
				margin-top: 16%;
				margin-bottom: 20px;
				text-transform: uppercase;
				padding-bottom: 0;
				line-height: 1;
			}

			.e-site-tagline {
				font-size: 1.05rem;
				letter-spacing: 2px;
				text-transform: uppercase;
				text-align: center;
				font-weight: 300;
				margin: 0 30px;
				padding: 5px 0 3px;
				line-height: 1;
			}
		}
	}

	.b-partners {
		.e-partner-logo { 
			display: inline-block;
			margin: 20px;
		}
	}

	#canvas {
		display: block;

		h2 {
			margin-bottom: 0;
		}

		h3 {
			font-size: 1.6rem;
			opacity: 1;
			text-align: center;
			font-weight: 600;
			margin-bottom: 30px;
		}
	}

	.b-canvas {
		position: relative;

		h3 { text-align: center; }
		
		.e-canvas-title {
			#canvas-title-icon {
				height: 97%;
				position: absolute;
				left: calc(50% - 177px);
				top: 4px;
				.canvas-icon { opacity: .4; }

				.lines {
					fill: none;
					display: block;
					opacity: .4;
					stroke: $purple;
					stroke-width: 3; 
					stroke-miterlimit: 10;
				}
			}
			
		}
		.e-left,
		.e-right { width: 35%; }
		p { position: relative; }

		.e-left { float: left;
			p {
				text-align: right;
				border-right: 4px solid $purple;
				border-left: 1px solid $purple_20;
				padding-right: 15px;
			}
		}

		.e-right { float: right;
			p { padding-left: 15px; }
		}
	}
	
	.b-signup {
		label { 
			display: inline-block;
			margin-right: 50px;
		}

		input.email {width: 400px;}
	}

	.b-courses-overview {
		.b-course-summary {
			height: 335px;
			margin-bottom: 30px;
			@include drop-shadow_light;
			h3 { font-size: 1.6rem; }
		}

		.e-more-info {
			margin-top: 20px;
			position: absolute;
			bottom: 50px;
			width: 80%;
			left: 10%;

			a {
			display: block;
			background-color: $gray_15;
			color: $white_50;
			font-weight: 600;
			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding: 3px;
			border-radius: 3px;
			}
		}

		#master-courses p {letter-spacing: -0.1px;}
		
	}
	#courses-page .b-courses-overview .b-course-summary { height: 800px; }

	#demos-for-democracy {
		background-image: url("../img/demos-democracy-banner.jpg");
		background-size: cover;
		background-position: center center;
		@include inner-shadow;
		margin-bottom: -40px;

		div { height: 300px; }
	}
	
	
} // MediaQuery