.b-filters.b-filters {
	margin: 0;
}

.b-filters {
	li {
		padding-left: 0;

		&:before {
			display: none;
		}
	}

	h3 {
		padding-left: 16px;
	}
	
	.b-filter-group {
		ul {
			margin-left: 0;
		}

		h4 {
			font-size: 1.1rem;
			text-transform: uppercase;
			font-weight: 600;
			color: $purple;
			text-align: right;
		}
	}

	.e-filter {
		font-size: .9rem;
		font-weight: 400;
		padding: 2px 8px 2px;
		margin-bottom: 5px;
		border: 1px solid $gray_15;
		background-color: $gray_3;
		cursor: pointer;

		&.m-show-all {
			float: right;
		}

		&:hover {
			border-color: $purple;
			background-color: $purple_20;
			color: $purple;
		}
	}
}

.b-card-wrapper {
	list-style: none;

	&:before {
		display: none;
	}
}

.e-filter-trigger {
	float: right;
	font-size: 1rem;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {

.b-filters {
	width: 300px;
	padding: 60px 0 20px;
	position: fixed;
	left: -300px;
	bottom: 0;
	z-index: 9;
	border: 1px solid $gray_30;
	@include drop-shadow;
	top: 0;
	background-color: $white;
	@include transition;

	&.m-active {
		left: 0;
		@include transition;
	}
	
	h4 {
		box-shadow: 0 3px 5px -3px $gray_50;
		padding: 2px 20px 3px;
		margin: 0;
	}

	ul {
		overflow-y: scroll;
		padding: 10px 20px 30px 10px;
		margin: 0;
		height: 100%;
	}

	.m-show-all {
		margin: 3px 0 0 0;
	}
}
}
