.b-pop-controls-container {
	position: relative;
}

.b-pop-controls {
	position: absolute;
	opacity: 0;
	@include transition;
	pointer-events: none;

	&.m-inline-buttons .e-pop-button {
		display: inline-block;
	}
}

.e-pop-button {
	background-color: $pink;
	width: 50px;
	height: 50px;
	padding: 14px 0;
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	@include circle;
	@include drop-shadow-button;
	@include transition;


	i {
		font-size: 1.3rem;
		color: $white;
	}

	i.fa-file {
		vertical-align: 3px;
		text-indent: 2px;
	}

	i.fa-link {
		vertical-align: 2px;
		text-indent: 0;
	}

	i.fa-cubes {
		vertical-align: 3px;
		text-indent: 1px;
	}

	i.fa-linkedin,
	i.fa-facebook,
	i.fa-github,
	i.fa-twitter {
		vertical-align: 3px;
	}

	&:hover {
		background-color: $green;
	}
}

.b-pop-controls-container:hover .b-pop-controls .e-pop-button {
	transform: scale(0, 0);
	display: block;
}

.b-pop-controls-container:hover .b-pop-controls {
	opacity: 1;
	@include transition;
	pointer-events: auto;

	.e-pop-button {
		width: 50px;
		height: 50px;
		transform: scale(1, 1);
		@include transition_fast;

		&:nth-child(2) { transition-delay: 0.1s; }
		&:nth-child(3) { transition-delay: 0.2s; }
		&:nth-child(4) { transition-delay: 0.3s; }

		&:hover {
			@include drop-shadow-button-hover;
			transition-delay: 0;
		}
	}
}