.e-course-controls {
	display: inline-block;
	width: calc(70% - 4px);
	vertical-align: bottom;
	padding-bottom: 30px;

	.e-button.e-button.e-button {
		border-radius: 2px;
		background-color: $orange;
		color: $white;
		font-weight: 400;
		padding: 2px 14px;
	}
}

.e-course-faculty {
	height: 100px;
	display: inline-block;
	width: calc(30% - 4px);

}

.b-mini-card {
	text-align: center;
	float: right;
	width: 100px;
	margin:0 10px;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right: 0;
	@include transition;

	.e-person-pic {
		border-radius: 50%;
		margin: 0 auto;
		overflow: hidden;
		width: 80px;
		height: 80px;
		border: 2px solid $green;
		background-color: $green;
		text-align: center;
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  @include drop-shadow-light;
	}

	h3 {
		font-size: 12px;
		font-weight: 400;
		opacity: 0;
		margin-top: -20px;
		@include transition;

	}

	&.m-govlab-True {
		.e-person-pic {
			border-color: $purple;
			background-color: $purple;
		}
	}
}
.b-mini-card:nth-of-type(2) { 
	right: 10px;
	transition-delay: 0.1s;
}
.b-mini-card:nth-of-type(3) { 
	right: 20px;
	transition-delay: 0.2s;
}
.b-mini-card:nth-of-type(4) { 
	right: 30px;
	transition-delay: 0.3s;
}
.b-mini-card:nth-of-type(5) { 
	right: 40px;
	transition-delay: 0.4s;
}

.e-course-faculty:hover {
	.b-mini-card {
		@include transition;

		h3 { 
			opacity: 1;
			margin-top: 5px;
			@include transition;
		}
	}	

	.b-mini-card:nth-of-type(2) { 
		right: 95px;
		transition-delay: 0.4s;
		}
	.b-mini-card:nth-of-type(3) { 
		right: 190px;
		transition-delay: 0.3s;
		}
	.b-mini-card:nth-of-type(4) { 
		right: 285px;
		transition-delay: 0.2s;
		}
	.b-mini-card:nth-of-type(5) { 
		right: 380px;
		transition-delay: 0.1s;
		}
}