.b-gallery-filters {
    padding-top: 85px;
    padding-bottom: 30px;
    text-align: center;
    background-color: $gray-80;
    

    .e-filter {
        width: 30%;
        display: inline-block;
    }

    .e-select-field {
        display: inline-block;
        width: 30%;
        position: relative;
        cursor: pointer;

        &:after {
            content:'';
            width: 0;
            height: 0;
            border-top: 7px solid $white_30;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            position: absolute;
            top: 14px;
            right: 8px;
            pointer-events: none;
        }

        &:hover:after {
            border-top-color: $white;
        }
    }

    select {
        display: inline-block;
        width: 100%;
        padding: 5px 10px;
        font-size: 16px;
        line-height: 1;
        border: 1px solid $white_60;
        background-color: transparent;
        border-radius: 0;
        height: 34px;
        -webkit-appearance: none;
        font-family: proxima-nova, sans-serif !important;
        color: $white;
        letter-spacing: .5px;
        font-weight: 200;
    }
}

.b-project-list {
    padding: 0;
    margin: 0 -4px 0 0;
    height: 230px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    background-color: transparent;
    position: relative;

    .e-thumb-container {
        white-space: nowrap;
        display: inline-block;
    }

    .e-prev, .e-next {
        position: absolute;
        color: $white_50;
        top: 40px;
        font-size: 50px !important;
        @include transition;
        z-index: 2;
    }

    &:hover {
        .e-prev, .e-next { 
            @include transition;
            color: $white;
        }
        .e-prev { left: 10px; }
        .e-next { right: 10px; }
    }

    .e-prev { left: 20px; }
    .e-next { right: 20px; }
    
    .e-project-thumb {
        background-image: url("../img/landing-image4.jpg");
        height: 130px;
        width: 130px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: inline-block;
        margin: 0 -2px;
        padding: 0;
        cursor: pointer;
        position: relative;

        &:after {
            width: 0;
            content: '';
            height: 0;
            border-bottom: 16px solid $white-80;
            border-right: 16px solid transparent;
            border-left: 16px solid transparent;
            position: absolute;
            top: 134px;
            opacity: 0;
            @include transition;
            margin: 0 49px;
            z-index: 100;
        }

        &:before {
            content: attr(title);
            padding: 15px;
            position: absolute;
            top: 150px;
            background-color: $white_80;
            opacity: 0;
            @include transition;
            width: 200px;
            white-space: normal;
            margin-left: -35px;
            text-align: center;

        }

        &:hover:before,
        &:hover:after {
            opacity: 1;
            @include transition;
        }

        &:first-of-type:before { left: 0; }
        &:last-of-type:before { right: 0; }
    }
}

.b-project-item {
    margin-top: -100px;

    .e-project-banner {
        background-image: url("../img/landing-image4.jpg");
        height: 480px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }

    .e-project-banner-overlay {
        background-color: $gray_70;
        height: 100%;
    }

    .e-project-title {
        margin-top: 220px;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        color: $white;
    }

    .e-project-tagline { color: $white; }

    .e-project-status {
        margin: 30px 0 20px;
        position: relative;
        color: $white_80;
        text-transform: uppercase;

        &:after {
            content: '';
            border-bottom: 2px solid $white_80;
            display: block;

        }

        &:before {
            position: absolute;
            top: 0;
            color: $white_80;
            text-transform: uppercase;
            letter-spacing: .5px;
            font-size: 16px;
        }

        &.m-define:after { width: 20%; }
        &.m-define:before { 
            content: 'Define';
            right: 80%;
        }

        &.m-prototype:after { width: 60%; }
        &.m-prototype:before { 
            content: 'Prototype';
            right: 40%;
        }

        &.m-complete:after { width: 100%; }
        &.m-complete:before { 
            content: 'Complete';
            right: 0;
        }

        
    }




    .e-main-content-section {
        margin-bottom: 40px;
        margin-right: 40px;

        h3 {
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    .e-image-gallery {
        margin: 20px 0 30px;
        white-space: nowrap;
        width: 100%;
        overflow-x: scroll;
        padding: 10px;
        box-shadow: inset 0 0 5px $gray_30;
        border-radius: 3px;
        background-color: $gray_5;

        img { 
            margin: 4px 3px;
            width: calc(30% - 16px);
        }

        img:only-child { width: calc(100% - 16px); }
    }
    
    .e-news-item {
        font-size: 1.1rem;
        border-bottom: 1px solid $gray_20;
        padding-bottom: 15px;
        margin-bottom: 15px;

        &:last-of-type {
            border: 0;
        }
    }
    
    .e-pub-date {
        font-size: .9rem;
        text-transform: uppercase;
        color: $purple;
        font-weight: 600;
    }

    .e-sidebar {
        a { color: $purple; }
        a:hover { text-decoration: underline; }

        h4 {
            font-size: 1.1rem;
            color: $purple;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    .e-sidebar-section {
        border-bottom: 1px solid $gray_20;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .e-share {
        a {
            @include circle;
            background-color: $purple;
            width: 42px;
            height: 42px;
            padding: 8px 0;
            text-align: center;
            display: inline-block;
            color: $white_50;
            margin: 0 4px;
        }

        a:hover {color: $white;}
    }

    .e-team {
        overflow: hidden;
    }

    .e-team-member {
        display: block;
        clear: both;
    }

    .e-team-pic {
        background-image: url("../img/faculty/alan-kantrow.jpg");
        height: 60px;
        width: 60px;
        @include circle;
        background-size: cover;
        background-position: center;
        display: inline-block;
        margin: 5px;
        float: left;
    }

    .e-team-name {
        margin: 15px 0 5px 5px;
        float: left;
    }

    .e-related-project {
        background-image: url("../img/faculty/alan-kantrow.jpg");
        height: 90px;
        width: 90px;
        margin: 2px;
        background-size: cover;
        background-position: center;
        display: inline-block;

    }
}

.b-lightbox {
    text-align: center;
    background-color: $gray_80 !important;

    img {
        box-shadow: 5px 5px 15px $gray_30;
        max-width: 90%;
        width: auto;
        margin-top: 12vh;
    }

    &:after {
        content: "\f00d";
        display: inline-block;
        font: normal normal normal 30px FontAwesome; 
        line-height: 20px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 12vh;
        margin: 5px 20px;
        // right: 20px;
        color: $white_30;
        pointer-events: none;
    }
    
}
