// Swipe Styles
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;

	.swipe-wrap {
	  overflow: hidden;
	  position: relative;

		> div {
		  float: left;
		  width: 100%;
		  position: relative;

			// Arrows on swipe gallery
		  &::after,
		  &::before {
		  	content: "";
		  	position: absolute;
		  	width: 0;
		  	height: 0;
		  	border-top: 18px solid transparent;
		  	border-bottom: 18px solid transparent;
		  	top: 45%;
		  }


		  &::before {
		  	border-right: 12px solid $gray_20;
		  	left: 10px;
		  }

		  &::after {
		  	border-left: 12px solid $gray_20;
		  	right: 10px;
		  }

		  &:first-child::before,
		  &:last-child::after {	display: none; }
	  }
	}
}