// Base Styles

h1 {
	font-size: 72px;
	font-weight: 100;
	margin: 0 5px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
	color: $gray_60;
	font-weight: 100;
}

p, li {
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
	color: $text_color;
}

li {
	list-style-type: none;
}

.b-list li {
	
	padding-left: 5px;

	&:before {
		width: 0;
		height: 0;
		border-left: 6px solid $scheme-comp_3;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		content: "";
		float: left;
		margin: 6px 0 0 -20px;
	}
}

p {
	margin-bottom: 0.5rem;

	a {
		color: $scheme-comp_4;

		&:hover {
			background-color: $scheme-comp_3;
			color: $scheme-comp_4;
		}

		&:visited {
			color: $gray_50;
		}
	}
}

.e-button {
	border-radius: 2px;
	background-color: $gray_30;
	color: $white;
	font-weight: 400;
	padding: 4px 14px;
	margin: 5px 30px 5px 0;
	display: block;
	cursor: pointer;
	text-align: center;

	&:hover {
		background-color: $gray_50;
		@include drop-shadow-light;
	}

	&.m-large {
		padding: 12px 30px 10px;
		font-size: 1.6rem;
		border-radius: 3px;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {

.e-button {
	background-color: $gray_30;
	color: $white;
	display: inline-block;
	margin: 0 5px 0 0;

	&:hover {
		background-color: $gray_50;
		@include drop-shadow-light;
	}
}

}