.m-project-coaching {
  background-color: #0d342d;
  border-top-color: #2eb49a;
  border-bottom-color: #2eb49a; }
  .m-project-coaching h3 {
    color: #0d342d; }

.m-project-coaching,
.b-courses-overview .nav-coaching.m-active {
  background-color: #2eb49a !important; }

.b-course-list-item.m-coaching:before {
  background-color: #2eb49a; }
.b-course-list-item.m-coaching .e-course-date {
  color: #2eb49a; }
.b-course-list-item.m-coaching .e-course-application {
  color: #2eb49a; }
.b-course-list-item.m-coaching .e-course-controls .e-button {
  color: #2eb49a; }
.b-course-list-item.m-coaching .e-course-controls .e-button:hover {
  background-color: #2eb49a;
  color: white; }
.b-course-list-item.m-coaching .e-partner {
  background-color: #0d342d; }
.b-course-list-item.m-coaching .e-certifications a:hover img {
  background-color: #2eb49a; }
.b-course-list-item.m-coaching .e-partner {
  color: #2eb49a; }

.b-detail-page.m-coaching .b-page-title h2 {
  color: #0d342d; }
.b-detail-page.m-coaching .b-apply {
  background-color: #279a84; }
.b-detail-page.m-coaching .e-certifications span {
  color: #0d342d; }
.b-detail-page.m-coaching .e-certifications img {
  background-color: #279a84; }

.m-workshops {
  background-color: #39427f;
  border-top-color: #7385ff;
  border-bottom-color: #7385ff; }
  .m-workshops h3 {
    color: #39427f; }

.b-course-list-item.m-workshop:before {
  background-color: #7385ff; }
.b-course-list-item.m-workshop .e-course-date {
  color: #7385ff; }
.b-course-list-item.m-workshop .e-course-controls .e-button {
  color: #7385ff; }
.b-course-list-item.m-workshop .e-course-controls .e-button:hover {
  color: white;
  background-color: #7385ff; }
.b-course-list-item.m-workshop .e-partner {
  background-color: rgba(103, 120, 229, 0.3); }
.b-course-list-item.m-workshop .e-certifications a:hover img {
  background-color: #7385ff; }
.b-course-list-item.m-workshop .e-partner {
  color: #7385ff; }

.m-workshops,
.b-courses-overview .nav-workshops.m-active {
  background-color: #7385ff !important; }

.b-detail-page.m-workshops .b-page-title h2 {
  color: #39427f; }
.b-detail-page.m-workshops .b-apply {
  background-color: #6778e5; }
.b-detail-page.m-workshops .e-certifications span {
  color: #39427f; }
.b-detail-page.m-workshops .e-certifications img {
  background-color: #6778e5; }
.b-detail-page.m-workshops .e-certifications a:hover img {
  background-color: #6778e5; }

.b-course-list-item.m-workshop.m-crosslisted-True:before {
  background-color: #39427f; }
.b-course-list-item.m-workshop.m-crosslisted-True .e-course-name {
  color: #39427f; }
.b-course-list-item.m-workshop.m-crosslisted-True .e-course-controls .e-button:hover {
  background-color: #39427f; }
.b-course-list-item.m-workshop.m-crosslisted-True .e-partner {
  background-color: rgba(57, 66, 127, 0.3);
  color: #39427f; }

.m-master-courses {
  background-color: #f72e6b;
  border-top-color: #ab204a;
  border-bottom-color: #ab204a; }
  .m-master-courses h3 {
    color: #6b142e; }

.m-master-courses,
.b-courses-overview .nav-master-courses.m-active {
  background-color: #ab204a !important; }

.b-course-list-item.m-master:before {
  background-color: #ab204a; }
.b-course-list-item.m-master .e-course-date {
  color: #ab204a; }
.b-course-list-item.m-master .e-course-controls .e-button {
  color: #ab204a; }
.b-course-list-item.m-master .e-course-controls .e-button:hover {
  color: white;
  background-color: #ab204a; }
.b-course-list-item.m-master .e-partner {
  background-color: #f72e6b; }
.b-course-list-item.m-master .e-certifications a:hover img {
  background-color: #ab204a; }
.b-course-list-item.m-master .e-partner {
  color: #ab204a; }

.b-detail-page.m-master .b-page-title h2 {
  color: #f72e6b; }
.b-detail-page.m-master .b-apply {
  background-color: #911b3f; }
.b-detail-page.m-master .e-certifications span {
  color: #f72e6b; }
.b-detail-page.m-master .e-certifications img {
  background-color: #911b3f; }

.m-normal-courses {
  background-color: #635911;
  border-top-color: #e3cc26;
  border-bottom-color: #e3cc26; }
  .m-normal-courses h3 {
    color: #635911; }

.m-normal-courses,
.b-courses-overview .nav-courses.m-active {
  background-color: #e3cc26 !important; }

.b-course-list-item.m-clinic:before {
  background-color: #e3cc26; }
.b-course-list-item.m-clinic .e-course-date {
  color: #e3cc26; }
.b-course-list-item.m-clinic .e-course-controls .e-button {
  color: #635911; }
.b-course-list-item.m-clinic .e-course-controls .e-button:hover {
  color: white;
  background-color: #e3cc26; }
.b-course-list-item.m-clinic .e-partner {
  background-color: rgba(201, 181, 34, 0.3); }
.b-course-list-item.m-clinic .e-certifications a:hover img {
  background-color: #e3cc26; }
.b-course-list-item.m-clinic .e-partner {
  color: #a3931b; }

.b-detail-page.m-clinic .b-page-title h2 {
  color: #635911; }
.b-detail-page.m-clinic .b-apply {
  background-color: #c9b522; }
.b-detail-page.m-clinic .e-certifications span {
  color: #635911; }
.b-detail-page.m-clinic .e-certifications img {
  background-color: #c9b522; }

.b-card.m-project.m-clinic .b-wrapper:before {
  background-color: #e3cc26; }

.b-project-detail.m-clinic:before {
  background-color: #e3cc26; }

body {
  background-color: rgba(0, 0, 0, 0.03); }

body, h1, h2, h3, h4, h5, input {
  font-family: proxima-nova, sans-serif; }

.e-button {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #472b74;
  font-weight: 400;
  padding: 4px 14px;
  margin: 5px 30px 5px 0;
  display: block;
  cursor: pointer;
  text-align: center; }
  .e-button.m-large {
    padding: 12px 30px 10px;
    font-size: 1.6rem;
    border-radius: 3px; }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .e-button {
    display: inline-block;
    margin: 0 5px 0 0; }
    .e-button:hover {
      background-color: #472b74;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      color: rgba(255, 255, 255, 0.7); } }
h1 {
  font-size: 72px;
  font-weight: 100;
  margin: 0 5px; }

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 100; }

p, li {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  color: #333; }

li {
  list-style-type: none; }

.b-list li {
  padding-left: 5px; }
  .b-list li:before {
    width: 0;
    height: 0;
    border-left: 6px solid #00c8b4;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    float: left;
    margin: 6px 0 0 -20px; }

p,
.e-project-files {
  margin-bottom: 0.5rem; }
  p a,
  .e-project-files a {
    color: #281841; }
    p a:hover,
    .e-project-files a:hover {
      background-color: #00c8b4;
      color: #281841; }
    p a:visited,
    .e-project-files a:visited {
      color: rgba(0, 0, 0, 0.5); }

.m-project-coaching {
  background-color: #0d342d;
  border-top-color: #2eb49a;
  border-bottom-color: #2eb49a; }
  .m-project-coaching h3 {
    color: #0d342d; }

.m-project-coaching,
.b-courses-overview .nav-coaching.m-active {
  background-color: #2eb49a !important; }

.b-course-list-item.m-coaching:before {
  background-color: #2eb49a; }
.b-course-list-item.m-coaching .e-course-date {
  color: #2eb49a; }
.b-course-list-item.m-coaching .e-course-application {
  color: #2eb49a; }
.b-course-list-item.m-coaching .e-course-controls .e-button {
  color: #2eb49a; }
.b-course-list-item.m-coaching .e-course-controls .e-button:hover {
  background-color: #2eb49a;
  color: white; }
.b-course-list-item.m-coaching .e-partner {
  background-color: #0d342d; }
.b-course-list-item.m-coaching .e-certifications a:hover img {
  background-color: #2eb49a; }
.b-course-list-item.m-coaching .e-partner {
  color: #2eb49a; }

.b-detail-page.m-coaching .b-page-title h2 {
  color: #0d342d; }
.b-detail-page.m-coaching .b-apply {
  background-color: #279a84; }
.b-detail-page.m-coaching .e-certifications span {
  color: #0d342d; }
.b-detail-page.m-coaching .e-certifications img {
  background-color: #279a84; }

.m-workshops {
  background-color: #39427f;
  border-top-color: #7385ff;
  border-bottom-color: #7385ff; }
  .m-workshops h3 {
    color: #39427f; }

.b-course-list-item.m-workshop:before {
  background-color: #7385ff; }
.b-course-list-item.m-workshop .e-course-date {
  color: #7385ff; }
.b-course-list-item.m-workshop .e-course-controls .e-button {
  color: #7385ff; }
.b-course-list-item.m-workshop .e-course-controls .e-button:hover {
  color: white;
  background-color: #7385ff; }
.b-course-list-item.m-workshop .e-partner {
  background-color: rgba(103, 120, 229, 0.3); }
.b-course-list-item.m-workshop .e-certifications a:hover img {
  background-color: #7385ff; }
.b-course-list-item.m-workshop .e-partner {
  color: #7385ff; }

.m-workshops,
.b-courses-overview .nav-workshops.m-active {
  background-color: #7385ff !important; }

.b-detail-page.m-workshops .b-page-title h2 {
  color: #39427f; }
.b-detail-page.m-workshops .b-apply {
  background-color: #6778e5; }
.b-detail-page.m-workshops .e-certifications span {
  color: #39427f; }
.b-detail-page.m-workshops .e-certifications img {
  background-color: #6778e5; }
.b-detail-page.m-workshops .e-certifications a:hover img {
  background-color: #6778e5; }

.b-course-list-item.m-workshop.m-crosslisted-True:before {
  background-color: #39427f; }
.b-course-list-item.m-workshop.m-crosslisted-True .e-course-name {
  color: #39427f; }
.b-course-list-item.m-workshop.m-crosslisted-True .e-course-controls .e-button:hover {
  background-color: #39427f; }
.b-course-list-item.m-workshop.m-crosslisted-True .e-partner {
  background-color: rgba(57, 66, 127, 0.3);
  color: #39427f; }

.m-master-courses {
  background-color: #f72e6b;
  border-top-color: #ab204a;
  border-bottom-color: #ab204a; }
  .m-master-courses h3 {
    color: #6b142e; }

.m-master-courses,
.b-courses-overview .nav-master-courses.m-active {
  background-color: #ab204a !important; }

.b-course-list-item.m-master:before {
  background-color: #ab204a; }
.b-course-list-item.m-master .e-course-date {
  color: #ab204a; }
.b-course-list-item.m-master .e-course-controls .e-button {
  color: #ab204a; }
.b-course-list-item.m-master .e-course-controls .e-button:hover {
  color: white;
  background-color: #ab204a; }
.b-course-list-item.m-master .e-partner {
  background-color: #f72e6b; }
.b-course-list-item.m-master .e-certifications a:hover img {
  background-color: #ab204a; }
.b-course-list-item.m-master .e-partner {
  color: #ab204a; }

.b-detail-page.m-master .b-page-title h2 {
  color: #f72e6b; }
.b-detail-page.m-master .b-apply {
  background-color: #911b3f; }
.b-detail-page.m-master .e-certifications span {
  color: #f72e6b; }
.b-detail-page.m-master .e-certifications img {
  background-color: #911b3f; }

.m-normal-courses {
  background-color: #635911;
  border-top-color: #e3cc26;
  border-bottom-color: #e3cc26; }
  .m-normal-courses h3 {
    color: #635911; }

.m-normal-courses,
.b-courses-overview .nav-courses.m-active {
  background-color: #e3cc26 !important; }

.b-course-list-item.m-clinic:before {
  background-color: #e3cc26; }
.b-course-list-item.m-clinic .e-course-date {
  color: #e3cc26; }
.b-course-list-item.m-clinic .e-course-controls .e-button {
  color: #635911; }
.b-course-list-item.m-clinic .e-course-controls .e-button:hover {
  color: white;
  background-color: #e3cc26; }
.b-course-list-item.m-clinic .e-partner {
  background-color: rgba(201, 181, 34, 0.3); }
.b-course-list-item.m-clinic .e-certifications a:hover img {
  background-color: #e3cc26; }
.b-course-list-item.m-clinic .e-partner {
  color: #a3931b; }

.b-detail-page.m-clinic .b-page-title h2 {
  color: #635911; }
.b-detail-page.m-clinic .b-apply {
  background-color: #c9b522; }
.b-detail-page.m-clinic .e-certifications span {
  color: #635911; }
.b-detail-page.m-clinic .e-certifications img {
  background-color: #c9b522; }

.b-card.m-project.m-clinic .b-wrapper:before {
  background-color: #e3cc26; }

.b-project-detail.m-clinic:before {
  background-color: #e3cc26; }

.b-top-navigation-wrapper {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  transition: all 0.4s ease; }
  .b-top-navigation-wrapper.m-hidden {
    top: -70px; }

.b-top-navigation {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6); }
  .b-top-navigation .row {
    text-align: center; }

.b-logo {
  display: block;
  background-color: #472b74;
  padding: 2px 0 0 0;
  margin: 0;
  font-size: 24px;
  font-weight: 100; }
  .b-logo a {
    color: white; }
    .b-logo a:hover {
      background-color: transparent; }
  .b-logo .e-home span {
    display: inline-block;
    margin-top: 4px; }
  .b-logo img {
    width: 110px;
    margin-right: 10px; }
  .b-logo span {
    vertical-align: -3px; }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-top-navigation {
    padding: 0;
    height: 58px;
    background-color: #472b74; }
    .b-top-navigation .row {
      text-align: left; }

  .b-logo {
    display: inline-block;
    max-width: 30%;
    margin-top: 5px; }
    .b-logo img {
      width: 140px; }
    .b-logo:hover {
      background-color: transparent; }

  .b-main-nav-container {
    float: right; }

  .b-main-nav {
    margin: 0;
    position: relative; }
    .b-main-nav li {
      margin: 0;
      padding: 0; }
    .b-main-nav > li {
      float: left; }
      .b-main-nav > li a {
        padding: 16px;
        display: inline-block; }
    .b-main-nav > li:last-of-type a {
      border-right: 0; }
    .b-main-nav .e-submenu ul {
      z-index: -10; }
    .b-main-nav a {
      color: white;
      font-size: 1.1rem;
      padding: 3px 12px;
      white-space: nowrap;
      border-right: 1px solid rgba(255, 255, 255, 0.15);
      transition: all 0.4s ease; }
      .b-main-nav a:hover {
        background-color: rgba(255, 255, 255, 0.3);
        transition: all 0.4s ease; }
      .b-main-nav a.m-disabled {
        opacity: .4;
        pointer-events: none; }

  .b-main-nav h2 {
    display: none; }

  .e-submenu {
    position: relative; }
    .e-submenu:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 6px solid rgba(255, 255, 255, 0.15);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      position: absolute;
      right: calc(50% - 10px);
      top: 40px;
      pointer-events: none; }
    .e-submenu:hover:after {
      border-top-color: rgba(255, 255, 255, 0.3); }
    .e-submenu ul {
      display: block;
      position: absolute;
      z-index: -1;
      top: -100px;
      margin: 0;
      left: 0;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      transition: all 0.4s ease; }
      .e-submenu ul li:first-of-type a {
        padding-top: 6px; }
      .e-submenu ul .e-sub-item {
        display: block;
        border: 0;
        color: rgba(255, 255, 255, 0.7);
        background-color: #6f5d8b;
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-top: 0;
        padding: 3px 18px; }
        .e-submenu ul .e-sub-item:hover {
          background-color: #201334;
          color: white; }

  .e-submenu:hover ul {
    transition: all 0.4s ease;
    top: 58px; } }
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 1024px) {
  .e-mainnav-trigger {
    position: fixed;
    right: 20px;
    top: 5px;
    color: white;
    z-index: 20;
    transition: all 0.2s ease; }

  .b-top-navigation-wrapper {
    position: fixed;
    width: 100%;
    z-index: 10; }

  .b-main-nav-container {
    width: 300px;
    position: fixed;
    left: -300px;
    top: 0;
    bottom: 0;
    background-color: white;
    transition: all 0.4s ease; }

  .m-nav-active .b-main-nav-container {
    left: 0; }

  .b-main-nav {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.03);
    margin-left: 0;
    height: 100%;
    border-right: 1px solid #472b74;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
    background-color: white; }
    .b-main-nav h2 {
      margin: 0;
      text-align: left;
      padding: 10px 25px;
      color: rgba(0, 0, 0, 0.8);
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase; }
    .b-main-nav a {
      color: rgba(0, 0, 0, 0.8);
      padding: 6px 10px;
      margin: 0 15px;
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      font-weight: 400; }
    .b-main-nav > li:first-of-type a {
      border-top: 0; }
    .b-main-nav .e-submenu ul {
      margin-left: 10px; }
      .b-main-nav .e-submenu ul a {
        border-left: 1px solid rgba(71, 43, 116, 0.2);
        font-weight: 100; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .e-mainnav-trigger {
    display: none; } }
.b-footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0 0;
  padding-top: 20px; }
  .b-footer h4 {
    color: #727272;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: regular;
    margin: 0 0 10px; }
  .b-footer img {
    max-width: 80%; }
  .b-footer .e-creative-commons {
    font-size: .8rem;
    line-height: 1rem;
    padding: 10px 10px 10px;
    margin-top: 15px;
    color: #727272;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15); }
    .b-footer .e-creative-commons img {
      float: left;
      margin-right: 20px; }
    .b-footer .e-creative-commons a {
      color: white; }
      .b-footer .e-creative-commons a:hover {
        background-color: transparent;
        color: white;
        text-decoration: underline; }
      .b-footer .e-creative-commons a:visited {
        color: #727272;
        text-decoration: none; }

/* Mobile Only ----------- */
@media only screen and (max-width: 1024px) {
  .b-footer {
    text-align: center; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-footer {
    padding: 30px 0 0; }
    .b-footer .e-partners {
      margin-bottom: 30px; } }
.b-pre-content {
  margin-bottom: 20px; }
  .b-pre-content .b-message-box {
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 4px solid #472b74;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    padding: 10px 10px 10px 20px; }
    .b-pre-content .b-message-box p {
      margin: 0; }
    .b-pre-content .b-message-box a {
      color: #472b74; }
      .b-pre-content .b-message-box a:hover {
        color: white; }
  .b-pre-content .b-highlights {
    height: 30px;
    overflow: hidden;
    position: relative; }
    .b-pre-content .b-highlights p {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0 5px;
      font-size: 14px;
      line-height: 14px;
      padding: 0;
      opacity: 0;
      text-transform: uppercase;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.5);
      font-weight: bold;
      -webkit-animation-duration: 16s;
      -webkit-animation-name: highlights;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease;
      -webkit-animation-play-state: running; }
      .b-pre-content .b-highlights p:hover {
        -webkit-animation-play-state: paused; }
    .b-pre-content .b-highlights p:first-of-type {
      -webkit-animation-delay: 0s; }
    .b-pre-content .b-highlights p:nth-of-type(2) {
      -webkit-animation-delay: 4s; }
    .b-pre-content .b-highlights p:nth-of-type(3) {
      -webkit-animation-delay: 8s; }
    .b-pre-content .b-highlights p:nth-of-type(4) {
      -webkit-animation-delay: 12s; }

@-webkit-keyframes highlights {
  from {
    height: 0;
    opacity: 0;
    z-index: 0; }
  5% {
    height: 14px;
    opacity: 1;
    z-index: 1; }
  23% {
    height: 14px;
    opacity: 1;
    z-index: 1; }
  25% {
    height: 14px;
    opacity: 0;
    z-index: 0; }
  to {
    height: 14px;
    opacity: 0;
    z-index: 0; } }
/* Mobile Only ----------- */
@media only screen and (max-width: 1024px) {
  .b-filters {
    display: none; }

  .e-filters-trigger {
    display: none !important; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-filters.b-filters {
    margin: 0; }

  .e-filters-trigger {
    font-size: 1rem;
    float: right; }

  .b-filters li {
    padding-left: 0; }
    .b-filters li:before {
      display: none; }
  .b-filters h3 {
    padding-left: 16px; }
  .b-filters .b-filter-group ul {
    margin-left: 0; }
  .b-filters .b-filter-group h4 {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #472b74;
    text-align: right; }
  .b-filters .e-filter {
    font-size: .9rem;
    font-weight: 400;
    padding: 2px 8px 2px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer; }
    .b-filters .e-filter.m-show-all {
      float: right; }
    .b-filters .e-filter:hover {
      border-color: #472b74;
      background-color: rgba(71, 43, 116, 0.2);
      color: #472b74; }

  .b-filters {
    width: 300px;
    padding: 60px 0 20px;
    position: fixed;
    left: -300px;
    bottom: 0;
    z-index: 9;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
    top: 0;
    background-color: white;
    transition: all 0.4s ease; }
    .b-filters.m-active {
      left: 0;
      transition: all 0.4s ease; }
    .b-filters h4 {
      box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.5);
      padding: 2px 20px 3px;
      margin: 0; }
    .b-filters ul {
      overflow-y: scroll;
      padding: 10px 20px 30px 10px;
      margin: 0;
      height: 100%; }
    .b-filters .m-show-all {
      margin: 3px 0 0 0; } }
.b-content-page {
  padding: 0 0 20px 0; }
  .b-content-page > h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .b-content-page > h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 0; }
  .b-content-page > h2 + h3 {
    margin-top: -30px; }
  .b-content-page .b-content-section {
    margin-bottom: 20px; }
    .b-content-page .b-content-section:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0; }

.b-page-title {
  box-shadow: 2px 0 7px rgba(0, 0, 0, 0.6);
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #281841;
  margin-bottom: 60px; }
  .b-page-title h2 {
    font-size: 3rem;
    line-height: 1;
    color: white;
    opacity: .7;
    text-align: left; }
  .b-page-title p {
    color: white;
    opacity: .7;
    font-size: 1.6rem; }
  .b-page-title *:last-child {
    margin-bottom: 0; }
  .b-page-title .e-button {
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.5); }
  .b-page-title .e-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #472b74; }

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 8;
  display: none; }
  #overlay.m-visible {
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 11; }
  #overlay.m-active {
    display: block; }

.share-button {
  float: right;
  margin: 10px; }
  .share-button label {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 3px !important;
    color: white !important; }

.social.top.center.networks-5.active {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5); }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-link-fix {
    padding-top: 80px; }

  .b-content-page {
    padding: 0 0 40px 0; }
    .b-content-page .b-content-section {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      margin-bottom: 40px; }
    .b-content-page > h2 {
      margin-bottom: 50px; }
    .b-content-page > h3 {
      text-align: center;
      color: rgba(0, 0, 0, 0.3);
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 50px; }
    .b-content-page > h2 + h3 {
      margin-top: -50px; }

  .b-page-title {
    padding-top: 110px;
    padding-bottom: 60px;
    margin-bottom: 60px; }
    .b-page-title h2 {
      font-size: 6rem;
      margin-bottom: 45px; } }
.b-course-list ul {
  margin-bottom: 0;
  margin-left: 0;
  padding: 0; }
.b-course-list .b-course-list-item {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  vertical-align: top;
  margin: 5px;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
  .b-course-list .b-course-list-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%; }
  .b-course-list .b-course-list-item .e-course-description,
  .b-course-list .b-course-list-item .e-course-date,
  .b-course-list .b-course-list-item .e-course-application,
  .b-course-list .b-course-list-item .e-course-name,
  .b-course-list .b-course-list-item .e-course-controls {
    margin-left: 40px; }
  .b-course-list .b-course-list-item .e-course-description {
    margin-right: 30px;
    margin-bottom: 20px; }
  .b-course-list .b-course-list-item .e-course-date,
  .b-course-list .b-course-list-item .e-course-application {
    font-size: 1.1rem;
    line-height: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    display: block; }
    .b-course-list .b-course-list-item .e-course-date span,
    .b-course-list .b-course-list-item .e-course-application span {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.3); }
  .b-course-list .b-course-list-item .e-certifications {
    padding: 0 30px 10px 30px; }
    .b-course-list .b-course-list-item .e-certifications img {
      width: 40px;
      overflow: hidden;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2); }
  .b-course-list .b-course-list-item .e-partner {
    padding: 5px 0 5px 30px;
    margin: 0; }
    .b-course-list .b-course-list-item .e-partner:before {
      content: "In partnership with "; }

.e-course-controls {
  display: block;
  vertical-align: bottom;
  padding-bottom: 10px; }

.e-course-faculty {
  display: block;
  margin: 0 20px 40px 30px; }

.b-course-list-item.m-workshop.m-crosslisted-True .e-partner:before {
  content: "This workshop is offered by "; }

/* Mobile Only ----------- */
@media only screen and (max-width: 1024px) {
  .e-course-faculty .b-card.m-people {
    padding-bottom: 0; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  #contact-message {
    padding-top: 30px; }

  .b-course-list-item:before {
    margin-top: -8px; }
  .b-course-list-item .e-course-name {
    margin-right: 120px; }
  .b-course-list-item .e-course-description {
    margin-right: 120px; }
  .b-course-list-item .e-certifications {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px !important; }

  .e-course-controls {
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 40px;
    padding-top: 40px; }

  .e-course-faculty {
    height: 100px;
    float: right; } }
.b-pop-controls-container {
  position: relative; }

.e-pop-button, .b-share-button {
  background-color: #472b74;
  width: 50px;
  height: 50px;
  padding: 14px 0;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease; }
  .e-pop-button i, .b-share-button i {
    font-size: 1.3rem;
    color: white; }
  .e-pop-button i.fa-file, .b-share-button i.fa-file {
    vertical-align: 3px;
    text-indent: 2px; }
  .e-pop-button i.fa-link, .b-share-button i.fa-link {
    vertical-align: 2px;
    text-indent: 0; }
  .e-pop-button i.fa-cubes, .b-share-button i.fa-cubes {
    vertical-align: 3px;
    text-indent: 1px; }
  .e-pop-button i.fa-play, .b-share-button i.fa-play {
    text-indent: 3px; }
  .e-pop-button i.fa-linkedin, .b-share-button i.fa-linkedin,
  .e-pop-button i.fa-facebook,
  .b-share-button i.fa-facebook,
  .e-pop-button i.fa-github,
  .b-share-button i.fa-github,
  .e-pop-button i.fa-twitter,
  .b-share-button i.fa-twitter {
    vertical-align: 3px; }
  .e-pop-button:hover, .b-share-button:hover {
    background-color: #00c8b4; }

.b-share-button {
  position: absolute;
  top: 15px;
  left: -23px;
  background-color: #e3e3e3; }
  .b-share-button i {
    color: #472b74; }
  .b-share-button:hover {
    background-color: #472b74; }
    .b-share-button:hover i {
      color: white; }

@media only screen and (min-width: 1024px) {
  .b-pop-controls {
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease;
    pointer-events: none; }
    .b-pop-controls.m-inline-buttons .e-pop-button, .b-pop-controls.m-inline-buttons .b-share-button {
      display: inline-block; }

  .b-pop-controls-container .b-pop-controls .e-pop-button, .b-pop-controls-container .b-pop-controls .b-share-button {
    transform: scale(0, 0);
    display: block; }

  .b-pop-controls-container:hover .b-pop-controls {
    opacity: 1;
    transition: all 0.4s ease;
    pointer-events: auto; }
    .b-pop-controls-container:hover .b-pop-controls .e-pop-button, .b-pop-controls-container:hover .b-pop-controls .b-share-button {
      width: 50px;
      height: 50px;
      transform: scale(1, 1);
      transition: transform 0.2s ease; }
      .b-pop-controls-container:hover .b-pop-controls .e-pop-button:nth-child(2), .b-pop-controls-container:hover .b-pop-controls .b-share-button:nth-child(2) {
        transition-delay: 0.1s; }
      .b-pop-controls-container:hover .b-pop-controls .e-pop-button:nth-child(3), .b-pop-controls-container:hover .b-pop-controls .b-share-button:nth-child(3) {
        transition-delay: 0.2s; }
      .b-pop-controls-container:hover .b-pop-controls .e-pop-button:nth-child(4), .b-pop-controls-container:hover .b-pop-controls .b-share-button:nth-child(4) {
        transition-delay: 0.3s; }
      .b-pop-controls-container:hover .b-pop-controls .e-pop-button:nth-child(5), .b-pop-controls-container:hover .b-pop-controls .b-share-button:nth-child(5) {
        transition-delay: 0.4s; }
      .b-pop-controls-container:hover .b-pop-controls .e-pop-button:nth-child(6), .b-pop-controls-container:hover .b-pop-controls .b-share-button:nth-child(6) {
        transition-delay: 0.5s; }
      .b-pop-controls-container:hover .b-pop-controls .e-pop-button:nth-child(7), .b-pop-controls-container:hover .b-pop-controls .b-share-button:nth-child(7) {
        transition-delay: 0.6s; }

  .e-pop-button:hover, .b-share-button:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    transition-delay: 0 !important; } }
.b-card-isotopes .b-card {
  display: block; }

.b-card {
  display: inline-block; }

.b-card-wrapper {
  list-style: none; }
  .b-card-wrapper:before {
    display: none; }

.b-card {
  margin: 5px; }
  .b-card .b-wrapper {
    position: relative;
    background-color: white;
    width: calc(100%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
    .b-card .b-wrapper:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      z-index: 1; }
    .b-card .b-wrapper .b-pop-controls .e-pop-button, .b-card .b-wrapper .b-pop-controls .b-share-button {
      display: none; }
    .b-card .b-wrapper .b-pop-controls .e-pop-button.m-pin, .b-card .b-wrapper .b-pop-controls .m-pin.b-share-button,
    .b-card .b-wrapper .b-pop-controls .e-pop-button.m-goto,
    .b-card .b-wrapper .b-pop-controls .m-goto.b-share-button {
      display: block; }
    .b-card .b-wrapper .e-card-content {
      margin-top: 10px;
      overflow-y: hidden;
      padding: 0 15px 0;
      margin-bottom: 15px; }
      .b-card .b-wrapper .e-card-content h4 {
        font-size: 1rem; }
      .b-card .b-wrapper .e-card-content p {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: .5rem; }

.b-card.m-govlab-True h4 {
  color: #472b74; }
.b-card.m-govlab-True .b-wrapper:before {
  background-color: #472b74; }

.b-card.m-govlab-False h4 {
  color: #281841; }
.b-card.m-govlab-False .b-wrapper:before {
  background-color: #281841; }

.b-card.m-people .b-card-header {
  position: relative;
  z-index: 0; }
.b-card.m-people .e-person-pic {
  min-width: 100%;
  margin: 0;
  height: 0;
  padding-bottom: 80%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
.b-card.m-people h3 {
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  color: white;
  margin: 0;
  padding: 20px 15px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* fallback */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgba(0, 0, 0, 0.4)));
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  /* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  /* IE 10 */
  background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  /* Opera 11.10+ */ }
.b-card.m-people .e-card-content {
  max-height: 235px; }

.b-card.m-project .b-wrapper {
  position: relative;
  background-color: white;
  width: 100%;
  height: 280px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
  .b-card.m-project .b-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 1; }
.b-card.m-project .b-card-header {
  width: 100%;
  height: 200px;
  overflow: hidden; }
  .b-card.m-project .b-card-header .e-project-pic {
    min-width: 100%;
    margin: 0;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
.b-card.m-project .e-card-content {
  position: absolute;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0; }
  .b-card.m-project .e-card-content h3 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6); }

.b-card.m-mini-card .b-wrapper {
  background-color: transparent;
  border: none;
  box-shadow: none; }
  .b-card.m-mini-card .b-wrapper:before {
    display: none; }
  .b-card.m-mini-card .b-wrapper .b-pop-controls {
    display: none; }
  .b-card.m-mini-card .b-wrapper .e-card-content {
    display: none; }

.b-card.m-mini-card {
  margin: 0 5px; }

.b-card.m-mini-card .b-wrapper {
  text-align: center;
  width: auto;
  height: auto; }
  .b-card.m-mini-card .b-wrapper .b-card-header .e-person-pic {
    width: 80px;
    min-width: 0;
    height: 80px;
    margin: 0 auto 10px;
    padding: 0;
    border-width: 2px;
    border-style: solid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    overflow: hidden; }
  .b-card.m-mini-card .b-wrapper .b-card-header h3 {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background: transparent;
    position: static;
    transition: all 0.4s ease;
    width: auto;
    color: rgba(0, 0, 0, 0.6);
    padding: 0;
    height: auto; }

.b-card.m-mini-card.m-govlab-True .e-person-pic {
  border-color: #472b74;
  background-color: #472b74; }

.b-card.m-mini-card.m-govlab-False .e-person-pic {
  border-color: #00c8b4;
  background-color: #00c8b4; }

/* Mobile Only ----------- */
@media only screen and (max-width: 1024px) {
  .b-card .b-pop-controls {
    right: 15px;
    top: 15px;
    opacity: 1;
    pointer-events: auto; }
    .b-card .b-pop-controls .e-pop-button.m-pin, .b-card .b-pop-controls .m-pin.b-share-button {
      display: none; }
    .b-card .b-pop-controls .e-pop-button:first-of-type, .b-card .b-pop-controls .b-share-button:first-of-type,
    .b-card .b-pop-controls .e-pop-button:nth-of-type(2),
    .b-card .b-pop-controls .b-share-button:nth-of-type(2) {
      transform: scale(1.1, 1.1); }

  .b-card.m-people {
    display: flex;
    flex-flow: column; }
    .b-card.m-people .e-card-content {
      flex: 1; }

  .b-card.m-project .b-wrapper {
    width: 340px;
    height: 280px; }
  .b-card.m-project .e-card-content {
    bottom: 10px; }

  .b-card.m-mini-card {
    margin-bottom: 10px; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-card .b-wrapper {
    width: 232px;
    height: 400px; }
    .b-card .b-wrapper .e-card-content {
      margin-top: 10px;
      overflow-y: hidden;
      padding: 0 15px 15px; }
      .b-card .b-wrapper .e-card-content h4 {
        font-size: 1rem; }
      .b-card .b-wrapper .e-card-content p {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: .5rem; }

  .b-card.m-people .e-card-content {
    height: 190px; }

  .b-card.m-mini-card {
    float: right; }

  .b-card.m-project .b-wrapper {
    width: 232px; } }
#homepage {
  padding-top: 0; }
  #homepage #intro {
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 40px; }
    #homepage #intro h2 {
      padding: 10px 0; }
    #homepage #intro .e-canvas-link:hover {
      background-color: transparent; }
    #homepage #intro .b-share .share-button {
      float: none;
      width: 92px;
      margin: 10px auto; }
  #homepage #explanation {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3) inset;
    padding-top: 40px;
    background-color: #472b74; }
    #homepage #explanation p, #homepage #explanation li {
      color: white;
      font-weight: 100; }
    #homepage #explanation li:before {
      border-left-color: rgba(255, 255, 255, 0.5); }
  #homepage .b-social-media-container .e-pop-button, #homepage .b-social-media-container .b-share-button {
    transform: scale(1.3); }

.b-social-media-container {
  text-align: center;
  padding: 0 0 40px; }
  .b-social-media-container .e-pop-button, .b-social-media-container .b-share-button {
    margin: 0 30px; }

.b-partners {
  padding: 20px 0;
  text-align: center; }
  .b-partners .e-partner-logo {
    display: block;
    max-width: 220px;
    margin: 40px auto; }
    .b-partners .e-partner-logo:hover {
      background-color: transparent !important; }
  .b-partners #ogp {
    max-width: 100px; }
  .b-partners #stanford-design-school {
    max-width: 140px; }
  .b-partners #cusp {
    max-width: 180px; }

.b-signup {
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3) inset;
  padding: 40px 0;
  margin-top: -20px;
  background-color: rgba(0, 0, 0, 0.8); }
  .b-signup h3 {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0; }
  .b-signup .e-tagline {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px; }
  .b-signup label {
    font-size: 2rem;
    color: #9981c0;
    font-weight: 300;
    display: block;
    vertical-align: bottom;
    margin-bottom: 10px; }
  .b-signup input.email {
    padding: 10px 16px 8px;
    font-size: 1.5rem;
    font-weight: 200;
    font-size: 1.2rem;
    vertical-align: top;
    width: 190px;
    border: 1px solid #281841;
    border-right: 0;
    border-radius: 3px 0 0 3px; }
  .b-signup .e-button {
    width: auto;
    border-radius: 0 3px 3px 0;
    margin: 0;
    vertical-align: top;
    padding: 9px 16px 9px;
    margin-left: -4px;
    font-size: 1.2rem;
    border: 1px solid #281841;
    background-color: #9981c0;
    display: inline-block;
    font-weight: 200; }
    .b-signup .e-button:hover {
      background-color: #6f5d8b; }

.b-signup.m-digest {
  background-color: #472b74; }

#canvas h2 {
  margin-bottom: 0; }
#canvas h3 {
  font-size: 1.1rem;
  opacity: 1;
  text-align: center;
  font-weight: 600;
  color: #472b74; }

.b-canvas .e-canvas-title {
  text-align: center; }
.b-canvas .e-left p,
.b-canvas .e-right p {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid rgba(71, 43, 116, 0.2);
  border-left: 4px solid #472b74;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 3px 10px; }

#canvas-title-icon {
  opacity: .4; }
  #canvas-title-icon .lines {
    display: none; }

.b-courses-overview h2 {
  margin-bottom: 40px;
  margin-top: 40px; }
.b-courses-overview .b-course-summary {
  padding: 10px 40px 40px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5); }
  .b-courses-overview .b-course-summary h3 {
    margin-top: 20px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    opacity: .6;
    font-size: 1.8rem; }
  .b-courses-overview .b-course-summary h4 {
    font-weight: 600;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    margin-top: 20px;
    letter-spacing: .5px; }
  .b-courses-overview .b-course-summary p {
    color: white; }
  .b-courses-overview .b-course-summary .b-course-info {
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3); }
    .b-courses-overview .b-course-summary .b-course-info li {
      color: white; }
  .b-courses-overview .b-course-summary .e-more-info {
    margin-top: 20px;
    left: 10%; }
    .b-courses-overview .b-course-summary .e-more-info a {
      display: block;
      background-color: rgba(0, 0, 0, 0.15);
      color: rgba(255, 255, 255, 0.5);
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 3px;
      border-radius: 3px; }

#digest {
  padding-top: 40px; }

#demos-for-democracy {
  background-image: url("../img/demos-democracy-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3) inset;
  margin-bottom: -20px; }
  #demos-for-democracy div {
    height: 150px; }

/* Phones Only ----------- */
@media only screen and (max-width: 1024px) {
  .b-signup input.email {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.8); }
  .b-signup .e-button {
    display: block;
    margin: 10px auto; }

  .e-more-info {
    width: 100%; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  #homepage > section {
    padding-bottom: 40px; }
  #homepage #intro {
    padding-top: 100px;
    padding-bottom: 60px; }
    #homepage #intro .e-site-title {
      font-size: 5rem;
      letter-spacing: 2px;
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
      font-weight: 600;
      margin: 0;
      margin-top: 16%;
      margin-bottom: 20px;
      text-transform: uppercase;
      padding-bottom: 0;
      line-height: 1; }
    #homepage #intro .e-site-tagline {
      font-size: 1.05rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 300;
      margin: 0 30px;
      padding: 5px 0 3px;
      line-height: 1; }

  .b-partners .e-partner-logo {
    display: inline-block;
    margin: 20px; }

  #canvas {
    display: block; }
    #canvas h2 {
      margin-bottom: 0; }
    #canvas h3 {
      font-size: 1.6rem;
      opacity: 1;
      text-align: center;
      font-weight: 600;
      margin-bottom: 30px; }

  .b-canvas {
    position: relative; }
    .b-canvas h3 {
      text-align: center; }
    .b-canvas .e-canvas-title #canvas-title-icon {
      height: 97%;
      position: absolute;
      left: calc(50% - 177px);
      top: 4px; }
      .b-canvas .e-canvas-title #canvas-title-icon .canvas-icon {
        opacity: .4; }
      .b-canvas .e-canvas-title #canvas-title-icon .lines {
        fill: none;
        display: block;
        opacity: .4;
        stroke: #472b74;
        stroke-width: 3;
        stroke-miterlimit: 10; }
    .b-canvas .e-left,
    .b-canvas .e-right {
      width: 35%; }
    .b-canvas p {
      position: relative; }
    .b-canvas .e-left {
      float: left; }
      .b-canvas .e-left p {
        text-align: right;
        border-right: 4px solid #472b74;
        border-left: 1px solid rgba(71, 43, 116, 0.2);
        padding-right: 15px; }
    .b-canvas .e-right {
      float: right; }
      .b-canvas .e-right p {
        padding-left: 15px; }

  .b-signup label {
    display: inline-block;
    margin-right: 50px; }
  .b-signup input.email {
    width: 400px; }

  .b-courses-overview .b-course-summary {
    height: 335px;
    margin-bottom: 30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
    .b-courses-overview .b-course-summary h3 {
      font-size: 1.6rem; }
  .b-courses-overview .e-more-info {
    margin-top: 20px;
    position: absolute;
    bottom: 50px;
    width: 80%;
    left: 10%; }
    .b-courses-overview .e-more-info a {
      display: block;
      background-color: rgba(0, 0, 0, 0.15);
      color: rgba(255, 255, 255, 0.5);
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 3px;
      border-radius: 3px; }
  .b-courses-overview #master-courses p {
    letter-spacing: -0.1px; }

  #courses-page .b-courses-overview .b-course-summary {
    height: 800px; }

  #demos-for-democracy {
    background-image: url("../img/demos-democracy-banner.jpg");
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3) inset;
    margin-bottom: -40px; }
    #demos-for-democracy div {
      height: 300px; } }
.e-faq-trigger {
  cursor: pointer; }

#courses-page .b-course-info li strong {
  left: -90px; }

#contact-message h3 {
  color: rgba(0, 0, 0, 0.6); }

.b-course-info li {
  list-style-type: none;
  position: relative;
  line-height: 1.4;
  margin-bottom: 10px;
  margin-left: 60px; }
  .b-course-info li strong {
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 72px;
    position: absolute;
    left: -85px;
    text-align: right; }

/* Mobile Only ----------- */
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-course-info li {
    margin-left: 90px; }
    .b-course-info li:before {
      display: none; }
    .b-course-info li strong {
      width: 72px;
      left: -93px; } }
.b-person {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: block;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .b-person:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 1; }
  .b-person .e-person-pic {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .b-person section {
    padding: 20px; }
  .b-person h3 {
    font-size: 2rem; }
  .b-person h4 {
    font-size: 1.3rem;
    margin-bottom: 30px; }
  .b-person .e-pop-button.m-pin, .b-person .m-pin.b-share-button {
    display: none; }

.b-person.m-govlab-True h4 {
  color: #472b74; }

.b-person.m-govlab-True:before {
  background-color: #472b74; }

.b-person.m-govlab-False h4 {
  color: #281841; }

.b-person.m-govlab-False:before {
  background-color: #00c8b4; }

@media only screen and (max-width: 1024px) {
  .b-person .b-pop-controls {
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: -30px; }
    .b-person .b-pop-controls .e-pop-button, .b-person .b-pop-controls .b-share-button {
      margin: 5px; }
    .b-person .b-pop-controls .e-pop-button.m-pin, .b-person .b-pop-controls .m-pin.b-share-button {
      display: none; } }
@media only screen and (min-width: 1024px) {
  .b-person header {
    width: 300px;
    position: relative;
    display: inline-block;
    vertical-align: top; }
  .b-person section {
    width: calc(100% - 305px);
    padding: 30px;
    vertical-align: top;
    display: inline-block; }
  .b-person h3 {
    font-size: 2.4rem; }
  .b-person h4 {
    font-size: 1.3rem;
    margin-bottom: 30px; }
  .b-person .b-pop-controls {
    left: -15px;
    top: 30px; } }
#about-govlab .govlab-logo {
  text-align: center;
  margin-top: 40px; }
  #about-govlab .govlab-logo img {
    width: 300px; }
#about-govlab h3 {
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin: 16px 0; }

#about-govlab .row,
#badges .row,
#team-cards .row {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 80px;
  padding-bottom: 40px; }

.b-team-dashboard h2 {
  margin-bottom: 10px; }
.b-team-dashboard .b-twitter-list-link {
  text-align: center;
  margin-bottom: 30px; }

/* Smartphones (portrait and landscape) ----------- */
/* Desktops and laptops ----------- */
.b-faqs {
  background-color: rgba(0, 0, 0, 0.03);
  padding-top: 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3) inset;
  height: auto;
  max-height: 110px;
  overflow: hidden;
  transition: all 0.4s ease; }
  .b-faqs .e-faq-trigger:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 20px;
    top: 8px;
    border-right: 12px solid #00c8b4;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    transition: all 0.4s ease; }
  .b-faqs.m-active {
    max-height: 30000px;
    transition: all 0.4s ease; }
    .b-faqs.m-active .e-faq-trigger:after {
      transform: rotate(-90deg);
      transition: all 0.4s ease; }
  .b-faqs .b-faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px; }
    .b-faqs .b-faq-item a {
      color: #00c8b4; }
    .b-faqs .b-faq-item a:hover {
      color: white; }
    .b-faqs .b-faq-item .e-question {
      font-weight: 600; }
    .b-faqs .b-faq-item .e-answer li {
      list-style-type: none;
      padding-left: 5px; }
      .b-faqs .b-faq-item .e-answer li:before {
        width: 0;
        height: 0;
        border-left: 6px solid #00c8b4;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        content: "";
        float: left;
        margin: 6px 0 0 -20px; }
    .b-faqs .b-faq-item .e-answer .b-faq-table {
      border-collapse: collapse;
      width: 100%; }
      .b-faqs .b-faq-item .e-answer .b-faq-table thead th {
        background-color: #00c8b4;
        text-align: left;
        color: white;
        padding: 5px 10px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 400; }
      .b-faqs .b-faq-item .e-answer .b-faq-table tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        .b-faqs .b-faq-item .e-answer .b-faq-table tr td {
          padding: 5px 10px; }
      .b-faqs .b-faq-item .e-answer .b-faq-table .e-application-col {
        min-width: 180px; }
      .b-faqs .b-faq-item .e-answer .b-faq-table .e-start-col {
        min-width: 200px; }

/* Mobile Only ----------- */
@media only screen and (max-width: 1024px) {
  .b-faq-table thead,
  .b-faq-table tbody,
  .b-faq-table tr,
  .b-faq-table td {
    display: block; }
  .b-faq-table td {
    padding: 0; }
  .b-faq-table thead {
    display: none; }
  .b-faq-table tr {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0;
    margin: 5px 0;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
  .b-faq-table .e-name-col {
    color: white;
    background-color: #472b74;
    line-height: 1.2;
    font-weight: 100;
    letter-spacing: .4px; }
  .b-faq-table .e-application-col,
  .b-faq-table .e-start-col {
    min-width: 0;
    font-weight: bold; }
    .b-faq-table .e-application-col:before,
    .b-faq-table .e-start-col:before {
      font-weight: 300; }
  .b-faq-table .e-application-col:before {
    content: "Application due "; }
  .b-faq-table .e-start-col:before {
    content: "Starts the week of "; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-faqs .b-faq-item {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px; }
  .b-faqs .e-answer li {
    padding-left: 20px; }
  .b-faqs .e-faq-trigger:after {
    right: 0;
    top: 12px;
    border-right: 16px solid #00c8b4;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; } }
.b-go-to,
.b-go-to:hover {
  background-color: transparent; }

.b-card.m-project:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6); }

/* Mobile Only ----------- */
@media only screen and (max-width: 1024px) {
  #gallery-page h2 {
    margin-bottom: 0; }
  #gallery-page .b-pop-controls {
    text-align: center; }
  #gallery-page .e-pop-button, #gallery-page .b-share-button {
    display: inline-block;
    margin: 5px; }
  #gallery-page .m-pin {
    display: none; }

  .b-project-header iframe {
    width: 200px;
    padding-bottom: 50%;
    height: 0; } }
.b-project-detail {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: block;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 30px; }
  .b-project-detail:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 1; }
  .b-project-detail h2 {
    text-align: left;
    margin-bottom: 0; }
  .b-project-detail h5 {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    font-size: 1rem;
    margin-bottom: 20px; }
  .b-project-detail .b-project-header iframe {
    width: 100%;
    height: 0;
    padding-bottom: 60%; }
  .b-project-detail .e-project-logo {
    text-align: center;
    margin-bottom: 20px; }
    .b-project-detail .e-project-logo img {
      width: 60%; }
  .b-project-detail ul {
    margin: 0; }
  .b-project-detail section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    margin-bottom: 20px; }

/* Mobile Only ----------- */
@media only screen and (max-width: 1024px) {
  .b-project-detail {
    padding-bottom: 10px; }
    .b-project-detail h2, .b-project-detail h5 {
      text-align: center; }
    .b-project-detail .e-project-detail-aside {
      text-align: center; } }
@media only screen and (min-width: 1024px) {
  .b-project-detail header {
    margin-left: calc(30% - 5px);
    margin-bottom: 30px; }
  .b-project-detail h2 {
    margin-top: 20px; }
  .b-project-detail h5 {
    margin-left: 5px; }
  .b-project-detail .e-project-detail-aside,
  .b-project-detail .e-project-detail-main {
    display: inline-block;
    vertical-align: top; }
  .b-project-detail .e-project-detail-aside {
    width: calc(30% - 5px);
    padding-right: 30px; }
    .b-project-detail .e-project-detail-aside .e-project-logo {
      text-align: center; }
      .b-project-detail .e-project-detail-aside .e-project-logo img {
        width: 70%; }
  .b-project-detail .e-project-detail-main {
    width: calc(70% - 5px); }
  .b-project-detail section:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0; }
  .b-project-detail .e-project-status {
    padding: 2px 6px;
    background-color: #2eb49a;
    position: relative;
    top: -2px;
    border-radius: 2px;
    color: white;
    font-size: .8rem; } }
.b-detail-page .b-page-title {
  margin-bottom: 0; }
  .b-detail-page .b-page-title h2 {
    font-size: 3.6rem;
    line-height: 1.2; }
.b-detail-page .b-apply {
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  box-shadow: 2px 0 7px rgba(0, 0, 0, 0.7) inset; }
  .b-detail-page .b-apply .e-button {
    color: rgba(255, 255, 255, 0.7); }
    .b-detail-page .b-apply .e-button:hover {
      background-color: rgba(255, 255, 255, 0.3);
      color: white; }
.b-detail-page .e-certifications {
  margin-top: 20px;
  text-align: right; }
  .b-detail-page .e-certifications li {
    margin: 10px 0; }
  .b-detail-page .e-certifications span {
    font-size: 1rem;
    font-weight: 400; }
  .b-detail-page .e-certifications img {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px; }

.b-dates {
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 30px; }
  .b-dates span {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    padding: 16px;
    height: 48px;
    width: 48px;
    margin: 0 10px;
    float: left;
    text-align: center; }
  .b-dates .fa-calendar {
    color: white;
    vertical-align: 4px;
    text-indent: -1px; }
  .b-dates h4, .b-dates h5 {
    margin: 0; }
  .b-dates h5 {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 1rem; }
  .b-dates h4 {
    font-weight: 100;
    font-size: 1.6rem;
    color: white; }

.b-format {
  margin-top: 30px; }

/* Desktops and laptops ----------- */
.rssHeader {
  display: none; }

.rssRow {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-bottom: 10px;
  border-left: 6px solid #472b74; }
  .rssRow h4 {
    font-size: 1.3rem;
    margin-bottom: 0; }
  .rssRow > div {
    font-size: 1rem;
    margin-bottom: 10px; }
  .rssRow > p {
    font-size: 1.2rem;
    clear: both; }
  .rssRow a {
    color: #472b74; }
    .rssRow a:hover {
      color: #472b74;
      background-color: transparent;
      text-decoration: underline; }

@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 3rem;
    line-height: 1.2; }

  p, li {
    font-size: 1.3rem;
    line-height: 1.4; }

  ul {
    margin-left: 0; }
    ul li {
      margin-bottom: 10px; }
    ul li:before {
      top: 8px !important; } }

/*# sourceMappingURL=styles.css.map */
