{% extends "base.html" %}
{% block content %}

<div id="project-coaching-page" class="b-content-page">
	<h2>Coaching Programs</h2>
	<section class="b-course-description row">
    <div class="column large-6">
      <p>This is a hands-on learning and mentoring program designed to help civic innovators inside and outside of government design and implement solutions to public interest problems using civic technology. Geared to the purpose-driven participant (both individuals and teams) passionate about a public problem and already undertaking a project, this program is designed to help participants develop a project from idea to implementation.</p>
      <p>The program is limited enrollment (maximum class size of 10 projects), entirely online, highly</p>
		</div>

    <div class="column large-6">
      <p>customized, 4 week (or every other week for 8 weeks) coaching programs to help teams and individuals that are actively engaged in governance innovation projects become more effective through a combination of coaching and skill-building, connection to a network of subject-matter experts, peer to peer mentoring, customized and original learning materials, and frequent and constructive feedback opportunities from a team of teachers and peers at every stage of an agile design process.</p>
		</div>
	</section>
	<div class="row">
		
		<section class="b-course-mechanics column large-6">
			<h2>Mechanics</h2>
			<ul class="b-list">
				<li>4 weeks or 8 weeks</li>
				<li>1 faculty-led session every week or every other week for 2 hours. One hour is with a guest expert and one hour is an all-group session</li>
				<li>1 peer-to-peer session every week</li>
				<li>1 private "office hour" every other week"</li>
			</ul>
			<p>Participants apply and are accepted and given a deadline by which to submit a project description. Over the next 2 weeks, we talk to them about their project and diagnose where they are stuck and develop a customized reading this for them.</p>
		</section>

		<section class="b-course-info column large-6">
			<h2>Program Info</h2>
	    <ul>
	      <li><strong>WHO</strong> Civic entrepreneurs with an identified project on a specific civic tech theme. Maximum of 10 individuals and/or teams per program. By application only</li>
	    	<li><strong>WHAT</strong> Intensive, individualized coaching</li>
	      <li><strong>WHEN</strong> Every week (for 4 weeks) or every other week (for 8 weeks)</li>
	      <li><strong>WHERE</strong> Online</li>
	    </ul>
		</section>
	</div>
	<section class="b-course-mechanics row">
		<h2 class="column large-12">Syllabus</h2>
		<div class="column large-6">
			<p>To apply, applicants submit a 1-2 page description of the problem the team wants to tackle and the metric for success.</p>
			<p>Upon admission, faculty and staff engage with the team to identify opportunities, diagnose problems and develop a customized reading and research plan.</p>
		</div>
		<div class="column large-6">
			<p>Each week, the full group meets online with the faculty for 1-2 hours where one hour is discussion of projects by the group and the second hour is a guest lecture.</p>
			<p>Each week, participants meet on their own in smaller groups.</p>
			<p>Every other week, faculty and staff hold an "office" hour with the team to address project progress.</p>
		</div>
	</section>
	
	<section class="b-course-list row">
		<ul class="column large-12">
			<li class="e-course-list-item">
				<h3>Citizen Service Projects</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
            <img src="{{STATIC_URL}}/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
						<img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>Support for efforts to make public all relevant information on government procurement activities and decisions</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>(with experts from the World Bank’s Open Contracting initiative)</p>
				</div>
			</li>
			
			<li class="e-course-list-item">
				<h3>Open Contracting projects</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>Support for efforts to design and implement public sector initiatives that deliver important citizen-focused services</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>(with Mike Bracken, Executive Director of Digital in the UK Cabinet Office)</p>
				</div>
			</li>

			<li class="e-course-list-item">
				<h3>Citizen Engagement Projects</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>Support for efforts to engage citizens on public issues in ways that help them make their opinions heard, as well as help government tap their special expertise</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>(with Tiago Peixoto...)</p>
				</div>
			</li>

			<li class="e-course-list-item">
				<h3>Crowdsourcing for Urban Governance Projects</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>Support for efforts to tap citizen experience and expertise in ways that facilitate innovation in urban governance</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>(with Professor Natalia Levina, NYU)</p>
				</div>
			</li>

			<li class="e-course-list-item">
				<h3>Open Data Projects</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>Support for efforts to identify and prioritize the kinds of government data that would be of greatest value to citizens, non-profits, and corporations, as well as to make that data available in the most efficient and effective ways</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>(with Sir Nigel Shadbolt and members of The GovLab)</p>
				</div>
			</li>

			<li class="e-course-list-item">
				<h3>Open Data Projects</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>Support for efforts to design and implement the processes and protocols by which citizens can exercise direct responsibility for allocating specific portions of a public budget at city, state, and/or national levels.ost efficient and effective ways</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>(with                  )</p>
				</div>
			</li>

			<li class="e-course-list-item">
				<h3>Civic Tech Projects: Key Inflection Points</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>Support for efforts to assess, rigorously, where a specific governance innovation initiative stands, what most directly stands in the way of its moving forward, and how to get it “unfrozen” and back on track</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>(with members of The GovLab)</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="b-faqs">
    <div class="row">
      <div class="column large-12">
        <h2 class="e-faq-trigger">FAQs</h2>
        <div class="b-faq-item">
          <p class="e-question">What is an Academy Coaching Program?</p>
          <p class="e-answer">It is a hands-on, issue-focused learning and mentoring program designed to help you design and implement solutions to one or another specific type of public interest problem using civic technology. Geared to the purpose-driven participant who is a member of an active team that is passionate about a public problem and already undertaking a project, this program helps you develop a project from idea to implementation. Unlike a traditional accelerator, we focus only on the public interest and only on projects that work with real-world institutions and partners, such as agencies and NGOs, to develop more effective and scalable initiatives.</p>
        </div>
        
        <div class="b-faq-item">
          <p class="e-question">How Does it Work?</p>
          <p class="e-answer">The coaching programs are  limited enrollment (maximum class size of 10 projects), entirely online, highly customized, and meet every week for 4 consecutive weeks or every other week for 8 weeks. To help you and your team become more effective, we offer a combination of coaching and skill-building, connection to a network of subject-matter experts, peer to peer mentoring, customized and original learning materials, and frequent and constructive feedback opportunities from a team of teachers and peers at every stage of your agile design-driven process.</p>
        </div>
        
        <div class="b-faq-item">
          <p class="e-question">Where Do the Sessions Meet?</p>
          <p class="e-answer">Entirely online.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">How Much Time Will This Take?</p>
          <ul class="e-answer">
            <li>Upon admission, faculty and staff will engage with your team to identify opportunities, diagnose problems, and develop a customized reading and research plan.</li>
            <li>Each week, the full group meets online with the faculty for 1-2 hours where one hour is discussion of projects by the group and the second hour is a guest lecture.</li>
            <li>Each week, participants meet on their own in smaller groups.</li>
            <li>Every other week, faculty and staff hold an "office" hour with the team to address project progress.</li>
          </ul>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Who May Participate?</p>
          <div class="e-answer">
            <p>Innovators working inside, outside, or in collaboration with public institutions. We will give strong preference to team, as opposed to individual, applications -- especially teams based in US cities</p>
            <p>And you have:</p>
            <ul class="b-list">
              <li>A problem about which you are passionate.</li>
              <li>An open mind to developing innovative approaches that take advantage of technology to bring the broader palette of human expertise to bear on your problem.</li>
              <li>Intellectual curiosity and a willingness to experiment are essential for this course. No formal technology training is assumed or required, but a willingness to play with new tools will be.</li>
              <li>Time and energy to commit to the program activities.</li>
              <li>The drive to do what it takes to develop a project from idea to implementation with the potential of real-world impact for people and communities. Keep in mind that the way to have the greatest impact might not involve building an app or creating a new non-profit but collaborating with others.</li>
            </ul>
          </div>
        </div>
        
        <div class="b-faq-item">
          <p class="e-question">How Do I Apply?</p>
          <p class="e-answer">To apply, you must submit a 1-2 page description of the problem you or your team wants to tackle and the metric for success by filling out this application form (should we use the last one?).</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">There are Three People in My Office Who Want to Do This. Can Teams Apply?</p>
          <p class="e-answer">Yes, people are encouraged to apply as a team. Each member must complete his or her own skills profile but teams work on a common project throughout the program. People can also choose to become a team and work on a common project during the course of the program.
          </p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">When is the Application Due?</p>
          <div class="e-answer">
            <table>
              <thead>
                <th>Projects Focus</th>
                <th>Application due</th>
                <th>Course begins</th>
              </thead>
              <tbody>
                <tr>
                  <td>Open Source and Citizen Participation</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Procurement Innovation</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Citizen Science for Government</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Open Data</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Open Data</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Participatory Budgeting</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Government Digital Services</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Freedom of Information</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Transparency</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Legal Innovation</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Citizen Engagement</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Lab Design Projects</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>
              </tbody>
            </table>  
          </div>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Who will lead each program?</p>
          <p class="e-answer">Here I suggest adding them as a picture, with the names below and then the focus of the projects he or she will be coaching… and then, if clicked, their expert profile shows.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Do I Get Course Credit?</p>
          <p class="e-answer">Those who successfully complete the requirements will receive an authenticated badge and certificate.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">How long is the program?</p>
          <p class="e-answer">The length of each program could be either 4 consecutive weeks or every other week for 8 weeks coaching programs. </p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Do I Have to Pay Something?</p>
          <p class="e-answer">No.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Who are the Mentors? Can I Pick My Own?</p>
          <div class="e-answer">
            <p>Mentors are either subject matter experts working on similar problems or challenges or people who have a track record as effective change agents. The best mentors, of course, are your classmates.</p> 
            <p>You can find your own but we commit to helping to pair you with relevant domain experts.</p>
          </div>
        </div>

        <div class="b-faq-item">
          <p class="e-question">This Looks Like a Lot of Work?</p>
          <p class="e-answer">It is. This is not a simulation but an opportunity to get a real civic tech project closer to implementation. A lot of work will need to get done outside the classroom, including user interviews and background research. Although we take account of the fact that people have other jobs and classes, this is a lot of work but in connection with your passions!</p>
        </div>
      </div> 
    </div>     
  </section>  

	<section id="contact-message">
	  <div class="row">
	    <div class="column large-12">
	      <h4>Still hungry for more information?</h4>
	      <p>For more detailed information, questions, doubts, etc. Send us an email at <a href="#">email@thegovlab.org</a></p>
	    </div>
	  </div>
	</section>
	</div>

{% endblock %}
