{% extends "base.html" %}
{% block content %}
<section id="courses-page" class="b-content-page">
  <h2>The Programs We Offer</h2>
  <h3>Temporary Page</h3>
  <div class="b-courses-overview row">
    <div class="e-course-navigation"><div><span class="nav-coaching">Project Coaching</span><span class="nav-workshops">Workshops</span><span class="nav-master-courses">Master Courses</span><span class="nav-courses">Courses</span></div></div>
    <div id="courses-overview-slider" class=" swipe"> 
      <div class="swipe-wrap">
        <div id="project-coaching" class="b-course-summary m-project-coaching">
          <h3>Project Coaching</h3>
            <p>Online coaching sessions customized for those who have already started  – or are just about to start – a civic tech project focused on a specific theme or issue. Sessions meet every week for 4 weeks or every other week for 8 weeks. Limited to 10 teams or individuals</p>
            <ul class="b-course-info">
              <li><strong>WHO</strong> Civic entrepreneurs with an identified project on a specific civic tech theme. Maximum of 10 individuals and/or teams per program. By application only</li>
              <li><strong>WHAT</strong> Intensive, individualized coaching</li>
              <li><strong>WHEN</strong> Every week (for 4 weeks) or every other week (for 8 weeks)</li>
              <li><strong>WHERE</strong> Online</li>
            </ul>
            <p class="e-more-info"><a href="/coaching-programs.html">More Information</a></p>
        </div>

        <div id="workshops" class="b-course-summary m-workshops">
          <h3>Workshops</h3>
            <p>Intensive, online 3 week-long substantive introductions to support teams about to start or already engaged at a specific stage of a civic innovation project.</p>
            <ul class="b-course-info">
              <li><strong>WHO</strong> Teams of civic entrepreneurs, especially in government or other organizations. Maximum of 24 individuals and/or 6 teams</li>
              <li><strong>WHAT</strong> Highly interactive workshop, leveraging a combination of mini-lectures, team-based exercises, and post-session follow-up </li>
              <li><strong>WHEN</strong> 1-2 day sessions by arrangement</li>
              <li><strong>WHERE</strong> In-person </li>
            </ul>
            <p class="e-more-info"><a href="/workshops.html">More Information</a></p>
        </div>

        <div id="master-courses" class="b-course-summary m-master-courses">
          <h3>Master Courses</h3>
            <p>Designed as substantive introductions to specific areas of civic tech innovation, as well as to key skill development topics, such as problem definition and “killer memo” drafting.</p>
            <ul class="b-course-info">
              <li><strong>WHO</strong> Open to all.</li>
              <li><strong>WHAT</strong> Video-based lectures plus optional live discussion sessions</li>
              <li><strong>WHEN</strong> On your own</li>
              <li><strong>WHERE</strong> Online</li>
            </ul>
            <p class="e-more-info"><a href="/master-courses.html">More Information</a></p>
        </div>

        <div id="normal-courses" class="b-course-summary m-normal-courses">
          <h3>Courses and Project Clinics</h3>
            <p>Masters - and professional-level project-based courses and clinics focused on the innovative application of civic technology to public problems. Online or blended delivery.</p>
            <ul class="b-course-info">
              <li><strong>WHO</strong> Graduate students and professionals either for credit or for certification</li>
              <li style="letter-spacing: -0.5px;"><strong>WHAT</strong>  Semester-long, project and/or case-based immersion in the all the stages of designing and implementing a civic tech project; structured access to support from subject matter experts, tech experts, mentors, coaches, and peers</li>
              <li><strong>WHEN</strong>  Weekly for 5, 12 or 14 weeks</li>
              <li><strong>WHERE</strong>  Blended (in person and online)</li>
            </ul>

            <p class="e-more-info"><a href="/regular-courses.html">More Information</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
