{% extends "base.html" %}
{% block content %}
<div id="normal-courses-page" class="b-content-page">
	<h2>Courses and Project Clinics</h2>
	<section class="b-course-description row">
    <div class="column large-12">
      <p>Graduate - and professional-level courses, for credit and/or for certification, on the overall governance innovation process, as well as on specific technology-enabled approaches to governance innovation.</p>
		</div>
	</section>
	<section class="b-course-list row">
		<h2>2015 Courses</h2>
		<ul class="column large-12">
			<li class="e-course-list-item">
				<h3>Transforming SMEs Through Open Data Innovation</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-blended.png" title="Blended Course" class="e-course-icons m-blended">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>Designed to help the leaders of small and medium sized enterprises (SMEs) use open and shared data to solve business problems, design new product and service offerings, and drive innovation within their business models. The Clinic will take SME entrepreneurs through every step of the process of finding, accessing, cleaning, structuring, and deploying open data.</p>
				</div>
				<div class="e-course-faculty m-right">
					{{ plugins.facultyplugin.stefaan_verhulst}}
					<p></p>
				</div>
			</li>
			<li class="e-course-list-item">
				<h3>Introductory Sets of 3-5 Lectures on important topics in governance innovation</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>For 2015, lecture series topics will likely include open data, expert networks, open contracting, procurement, and crowdsourcing</p>
				</div>
				<div class="e-course-faculty m-right">
					<p></p>
				</div>
			</li>
			<li class="e-course-list-item">
				<h4 class="e-course-date">Fall 2015</h4>
				<h3>Solving Public Problems with Technology</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-blended.png" title="Blended Course" class="e-course-icons m-blended">
						<img src="{{STATIC_URL}}/img/icons/icons-credit.png" title="For Credit" class="e-course-icons m-credit">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>A 14 week program – delivered jointly with the Polytechnic School of Engineering at NYU, the School of Professional Services at NYU, the Media Lab at MIT, Arizona State University, Yale Law School, and Stanford Design School – that leads individuals and teams through all stages of an agile, design-driven, innovation-focused project development process. Non-credit, online participation is also possible for individuals and teams working on innovation projects in active public service</p>
				</div>
				<div class="e-course-faculty m-right">
					<p><a href="http://govlab.github.io/academy-courses/Solving-Public-Problems-Fall-2014/" target="_blank">View the Fall 2014 syllabus for this course.</a></p>
					<p><a href="#">View a “gallery” of featured projects from previous deliveries of this course</a></p>
				</div>
			</li>
			<li class="e-course-list-item m-joint">
				<h5 class="e-partner">the School of Professional Services at NYU</h5>
				<h4 class="e-course-date">Summer 2015</h4>
				<h3>Sustainable Governance Innovation</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-blended.png" title="Blended Course" class="e-course-icons m-blended">
						<img src="{{STATIC_URL}}/img/icons/icons-credit.png" title="For Credit" class="e-course-icons m-credit">
					</div>
					<p>Addressing the challenges involved in creating a robust capability within government to imagine, design, and implement a flow of significant innovations over time</p>
				</div>
				<div class="e-course-faculty m-right">
				</div>
			</li>
			<li class="e-course-list-item m-joint">
				<h5 class="e-partner">HBS</h5>
				<h4></h4>
				<h3>[Karim’s course at HBS]</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-blended.png" title="Blended Course" class="e-course-icons m-blended">
						<img src="{{STATIC_URL}}/img/icons/icons-credit.png" title="For Credit" class="e-course-icons m-credit">
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor excepturi, aliquam a impedit non similique sunt dolorem exercitationem delectus tempore enim voluptatem, fugit porro consequatur molestiae, eligendi doloremque. Hic, molestias!</p>
				</div>
				<div class="e-course-faculty m-right">
				</div>
			</li>
			<li class="e-course-list-item m-joint">
				<h5 class="e-partner">ASU</h5>
				<h4></h4>
				<h3>[Erik Johnson’s course at ASU]</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-blended.png" title="Blended Course" class="e-course-icons m-blended">
						<img src="{{STATIC_URL}}/img/icons/icons-credit.png" title="For Credit" class="e-course-icons m-credit">
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur tenetur quibusdam reiciendis animi facilis, repellendus quisquam sequi sapiente. Nesciunt accusantium velit nobis vel soluta fugit quisquam fugiat ipsam saepe illo.</p>
				</div>
				<div class="e-course-faculty m-right">
				</div>
			</li>
		</ul>
	</section>	
</div>
{% endblock %}