{% extends "base.html" %}
{% block content %}
<div class="b-content-page">
	<div class="row">
    <h2 class="column large-12">Cards Sandbox</h2>
  </div>
  <div class="row">
    <section class="b-filters">
      <h3 class="column large-12">Faculty Members <span class="e-filter m-show-all" data-filter="all">Show All</span></h3>
      <div class="e-filter-group">
        <h4 class="column small-12 large-2">by subject</h4>
        <ul class="column small-12 large-5">
          <li class="e-filter" data-filter="crowdsourcing">Crowdsourcing and Citizen Engagement</li>
          <li class="e-filter" data-filter="open-contracting">open-contracting-and-procurement-innovation</li>
          <li class="e-filter" data-filter="citizen-service-delivery">citizen-service-delivery</li> 
          <li class="e-filter" data-filter="effective-communication">effective-communication</li> 
        </ul>
        <ul class="column small-12 large-5">
          <li class="e-filter">Crowdsourcing and Citizen Engagement</li>
          <li class="e-filter">open-contracting-and-procurement-innovation</li>
          <li class="e-filter">citizen-service-delivery</li> 
          <li class="e-filter">effective-communication</li> 
        </ul>
      </div>
  </div>
  <div class="row">
    <section class="column large-12">
  		<div class="b-card-wrapper">
        {% for card in plugins.generator.cards %}
          <article class="b-card m-people m-govlab-{{card.is_govlab}}" data-filter="{{card.tags}}">
            <div class="e-person-pic">
              <img class="pic-{{card.img_url}}" src="{{ STATIC_URL }}/img/people/{{card.img_url}}" alt="{{card.name}}">
            </div>
            <h3 title="{{card.name}}">{{card.name}}</h3>
            <div class="e-card-controls">
              <span class="e-card-button" href="{{bio_url}}"><i class="fa fa-thumb-tack"></i></span>
              <a class="e-card-button" href="{{bio_url}}"><i class="fa fa-link"></i></a>
            </div>
            <div class="e-card-content"> 
              <h4>{{card.job}}</h4>
              <p>{{card.description}}</p>
            </div>
          </article>
        {% endfor %}
          <!-- {% render_block_from_file 'partials/card' 'cards' %} -->
                
      
      </div>
  	</section>
  </div>
</div>
{% endblock %}