{% extends "base.html" %}
{% block content %}
<div id="workshops-page" class="b-content-page">
	<h2>Workshops</h2>
	<div class="row">
		<section class="column large-6">
			<div class="column large-12">
      <p>Limited enrollment (maximum class size 30; maximum number of teams, 6), customized 1-2 day, intensively “hands on,” in-pers}on, working sessions for city- and government agency-based teams preparing to wrestle with the specific issues and challenges at one or another stage of the governance innovation process</p>
			</div>
		</section>

		<section class="b-course-info column large-6">
	    <ul>
	      <li><strong>WHO</strong> Teams of civic entrepreneurs, especially in government or other organizations. Maximum of 24 individuals and/or 6 teams</li>
	    	<li><strong>WHAT</strong> Highly interactive workshop, leveraging a combination of mini-lectures, team-based exercises, and post-session follow-up</li>
	      <li><strong>WHEN</strong> 1-2 day sessions by arrangement</li>
	      <li><strong>WHERE</strong> In-person</li>
	    </ul>
		</section>
	</div>	

	<section class="b-course-list row">
		<ul class="column large-12">

			<li class="e-course-list-item">
				<h3>Problem Definition</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>You will learn to frame and commission effective data-driven projects that lead to tangible, real-world outcomes. This program will also help prepare you to partner with senior executives within your organization in order to design, implement, and evaluate analytics projects to deliver measurable, scalable results. The program will introduce you to tested frameworks for data diagnostics, acquisition, and sampling; to strategies for framing complex problems so that they can be legitimately addressed by analytics work; and to practical guidelines for working responsibly with data-driven insight. There is a special focus on the practical aspects of creating actionable insight in urban environments.</p>
				</div>
				<div class="e-course-faculty m-right">
					<p></p>
				</div>
			</li>

			<li class="e-course-list-item">
				<h3>Problem Definition</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>How to craft and “stress test” the rigorous and actionable problem definition against which a governance innovation initiative is to be directed</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>faculty members</p>
				</div>
			</li>

			<li class="e-course-list-item m-joint b-pop-controls-container">
				<h4 class="e-course-date">February 2015</h4>
				<h3>Urban Analytics for Change</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>How to shape the charter for, as well as the evaluation of, innovation-focused data analytics initiatives at the city level</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>faculty members</p>
				</div>
				<div class="b-pop-controls m-inline-buttons">
          <a class="e-pop-button" href="{{STATIC_URL}}/files/analytics-for-change.pdf" target="_blank"><i class="fa fa-file"></i></a>
          <a class="e-pop-button" href="http://cusp.nyu.edu/exec-ed-1day/" target="_blank"><i class="fa fa-link"></i></a>
        </div>
        <h5 class="e-partner">CUSP</h5>
			</li>

			<li class="e-course-list-item">
				<h3>User Segmentation and Analysis</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>How to understand the preferences and priorities of those most likely to be affected by a proposed governance innovation and, then, translate that understanding into the design specs that shape the innovation process</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>faculty members</p>
				</div>
			</li>

			<li class="e-course-list-item">
				<h3>Project Planning</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>How to turn a problem statement and user analysis into a tight workplan against which innovation-focused activities can be efficiently and effectively deployed </p>
				</div>
				<div class="e-course-faculty m-right">
					<p>faculty members</p>
				</div>
			</li>

			<li class="e-course-list-item">
				<h3>Rapid-cycle Research</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>How to design and execute a brief but intensive research effort to map out an issue landscape, including the major unanswered questions, key players, and relevant state of current practice and exploration</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>faculty members</p>
				</div>
			</li>

			<li class="e-course-list-item">
				<h3>Designing Mock-ups and Prototypes</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>How to translate hypotheses based on research and analysis into tangible forms that can be piloted and tested with all relevant user groups and delivery channels</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>faculty members</p>
				</div>
			</li>

			<li class="e-course-list-item">
				<h3>Defining Metrics of Success</h3>
				<div class="e-course-description m-left">
					<div class="e-certifications">
						<img src="{{STATIC_URL}}/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
            <img src="{{STATIC_URL}}/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
					</div>
					<p>How to shape appropriate, context-specific measures of performance that capture not just the activity associated with an innovation initiative but, more importantly, the value created</p>
				</div>
				<div class="e-course-faculty m-right">
					<p>faculty members</p>
				</div>
			</li>

			
		</ul>
	</section>

	<section id="contact-message" class="row">
    <div class="column large-12">
      <h4>Still hungry for more information?</h4>
      <p>For more detailed information, questions, doubts, etc. Send us an email at <a href="#">email@thegovlab.org</a></p>
    </div>
	</section>
	</div>
{% endblock %}
