{% extends "layout/base.html" %}
{% block content %}

<div id="about-page" class="b-content-page">
  <div class="b-page-title">
    <div class="row">
      <div class="large-12 column">
        <h2>About Us</h2>
        <p>Whether taken in person or online, the GovLab Academy’s courses, clinics, coaching programs, and workshops offer a “flipped” learning experience. There are no experts at the front of the room or the top of the screen delivering packaged content to passive learners.</p>    
      </div>
    </div>
  </div>

  <section>
    <div class="row">
      <div class="column large-12">
        <p>You are at the center of everything we do – a civic entrepreneur working on real projects in real communities. Around you we organize the relevant materials, mentor and coaching networks, training exercises, and practice sessions. For you we curate readings and videos, gather examples of best practice, design process interventions, provide critiques and advice, and make introductions to experts.</p>
        <p>Generously funded by the John S. and James L. Knight Foundation, we do not define our goal – our mission – as efficiently passing along textbook wisdom. We define it as empowering ever-wider cohorts of people like you through the messy, rugged experience of developing real-world projects. We do not measure our success by levels of enrollment. We measure it by the credible aspirations of those we touch and the reach and impact of the projects they create and lead.</p>
      </div>
    </div>
  </section>  
  <section id="people">
    <section id="team-cards" class="b-team-dashboard">
      <h2>People</h2>
      <div class="row">
        <h3 class="column large-12">Faculty Mambers</h3>
        <div class="b-card-isotopes column large-12">
          <div class="b-card-wrapper">
            {% for person in people %}              
              {% if people|selectattr("fullName", "equalto", person.fullName)|first|isEmpty %}
                {{name|debug}}
                {{("!!!! ERROR !!!!!: person cannot be found: " + person.fullName) |debug}}
              {% else %}
                {{ showPerson(people|selectattr("fullName", "equalto", person.fullName)|first, "arnaud-class") }}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- <section class="detail-test">
    <article class="{{class}} b-card m-people m-govlab-{{people[6].is_govlab}} b-pop-controls-container" data-filter="{{people[6].tags}}">
      <div class="b-wrapper">
        <header class="b-card-header">
          <div class="e-person-pic" style="background-image: url(static/img/people/{{people[6].img_url}})" title="{{people[6].name.first}} {{people[6].name.last}}"></div>
          <h3 title="{{people[6].name.first}} {{people[6].name.last}}">{{people[6].name.first}} {{people[6].name.last}}</h3>
        </header>
        <aside class="b-pop-controls">
          <span class="e-pop-button m-pin"><i class="fa fa-thumb-tack"></i></span>
          <a class="e-pop-button e-pop-button-link" href="{{people[6].bio_url}}"><i class="fa fa-link"></i></a>
          <a class="e-pop-button e-pop-button-twitter" href="{{people[6].bio_url}}"><i class="fa fa-twitter"></i></a>
          <a class="e-pop-button e-pop-button-linkedin" href="{{people[6].bio_url}}"><i class="fa fa-linkedin"></i></a>
          <a class="e-pop-button e-pop-button-email" href="{{people[6].bio_url}}"><i class="fa fa-envelope"></i></a>
        </aside>
        <section class="e-card-content"> 
          <h4>{{people[6].job}}</h4>
          <p>{{people[6].description}}</p>
        </section>
      </div>
      </article>
  </section> -->
</div>
  <!-- [photo, plus link for each to cv/bio]
  All faculty have both subject matter and skills expertise. All programs are team taught.

  -NN TO ADD LINKS TO BIOS. WILL DO LATER -->
{% endblock %}

