{% extends "layout/base.html" %}

{% block head %}
<script src="static/assets/foundation/js/vendor/jquery.js"></script>
<link href="//d3q1ytufopwvkq.cloudfront.net/0/formrenderer.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//d3q1ytufopwvkq.cloudfront.net/0/formrenderer.js"></script>
{% endblock %}

{% block content %}
<div id="application-page" class="b-content-page">
	<div class="b-page-title">
		<div class="row">
      <div class="column large-12">
		    <h2>Application</h2>
		  </div>
		</div>
  </div>

	<div class="row">
		<section class="b-form b-application-form m-coaching column large-12">
			<form data-formrenderer></form>		
		</section>	
	</div>
	<section>
	<div class="row">
		<div class="column large-12">
			<p class="m-centered-text"><em><a href="https://screendoor.dobt.co/the-govlab/coaching-programs-application-form">If you have any problems with our form, here is a back-up</a></em></p>
		</div>
		</section>
	</div>



<script>
$( document ).ready(function() {
  new FormRenderer({
    "project_id": 714,
    "afterSubmit": {
      "method": "page",
      "html": "<p>Thanks for submitting our form!</p>"
    }
  });
});
</script>

{% endblock %}