{% extends "layout/base.html" %}
{% block content %}

<div id="project-coaching-page" class="b-content-page">
	<div class="b-page-title m-project-coaching">
    <div class="row">
      <div class="column large-12">
        <h2>Coaching Programs</h2>
        <p>Geared to the purpose-driven participant inside and outside of government  (both individuals and teams) passionate about a public problem and already undertaking a project, these programs are designed to help participants develop a project from idea to implementation.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <section class="b-course-mechanics column large-6">
      <h2>Programs offer</h2>
      <ul class="b-list">
        <li>Frequent and constructive feedback</li>
        <li>Customized and original learning materials</li>
        <li>Peer-to-peer support</li>
        <li>Introductions to global topic experts</li>
        <li>Group meetings online with the faculty for 1-2 hours: one hour is for discussion of projects by the whole group and the second hour, a guest lecture</li>
        <li>Faculty and staff online office hours with the teams to address project progress</li>
      </ul>
    </section>
    <section class="b-course-info column large-6">
      <h2>Program Info</h2>
      <ul>
        <li><strong>WHO</strong>Civic entrepreneurs with an identified project on a specific civic tech theme. Maximum of 10 individuals and/or teams per program. By application only</li>
        <li><strong>WHAT</strong>A blend of group sessions, peer to peer coaching, expert mentoring and private "office hours" with Academy faculty</li>
        <li><strong>WHEN</strong>Every week (for 4 weeks) or every other week (for 8 weeks)</li>
        <li><strong>WHERE</strong>Online</li>
      </ul>
      <a href="#faqs" class="e-button">FAQs</a>
    </section>
  </div>
  <section class="b-course-graph row">
    <div class="column large-12">
      <h2>Coaching Program Timeline</h2>
    </div>
    <div class="column large-12">
      <img src="./static/img/coaching-diagram2.png" alt="Coaching program Lifecycle">
    </div>
  </section>
  
  <section class="b-course-list row">
    <ul class="column large-12">
      {% for course in coaching|sort(attribute='start_date',reverse=False) %}
        {% if course.is_active %}
        <li class="b-course-list-item m-coaching">
          {% if course.date %}
          <h4 class="e-course-date"><span>Starts the week of: </span>{{course.date.week_start}}</h4>
          {% endif %}

          <h3 class="e-course-name">{{course.name}}</h3>
          
          <div class="e-certifications">
            {% if course.certificates.blended %}
              <img src="static/img/icons/icons-blended.png" title="Blended Course" class="e-course-icons m-blended">
            {% endif %}

            {% if course.certificates.online %}
              <img src="static/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
            {% endif %}

            {% if course.certificates.in_person %}
              <img src="static/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
            {% endif %}

            {% if course.certificates.for_certificate %}
            <img src="static/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
            {% endif %}

            {% if course.certificates.for_credit %}
            <img src="static/img/icons/icons-credit.png" title="For Credit Course" class="e-course-icons m-credit">
            {% endif %}

          </div>
          <div class="e-course-description">
            <p>{{course.description_short}}</p>
          </div>
          <h4 class="e-course-application"><span>Application due: </span> {{course.date.application}}</h4>

          {% if course.faculty_members %}
            <div class="e-course-faculty">
              {% for name in course.faculty_members %}              
                {% if people|selectattr("fullName", "equalto", name)|first|isEmpty %}
                  {{("!!!! ERROR !!!!!: person cannot be found: " + name) |debug}}
                {% else %}
                  {{ showPerson(people|selectattr("fullName", "equalto", name)|first, "m-mini-card") }}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          
          {% if course.actions %}
            <div class="e-course-controls">
              {% for button in course.actions %}
              <a class="e-button" href="{{button.link}}">{{button.label}}</a>
              {% endfor %}
            </div>
          {% endif %}
        </li>
        {% endif %}

      {% endfor %}      
    </ul>
  </section>
	

	<section id="faqs" class="b-faqs m-active">
    <div class="row">
      <div class="column large-12">
        <h2 class="e-faq-trigger">FAQs</h2>
        <div class="b-faq-item">
          <p class="e-question">What is an Academy Coaching Program?</p>
          <p class="e-answer">It is a hands-on, issue-focused learning and mentoring program designed to help you design and implement solutions to one or another specific type of public interest problem using civic technology. Geared to the purpose-driven participant who is a member of an active team that is passionate about a public problem and already undertaking a project, this program helps you develop a project from idea to implementation. Unlike a traditional accelerator, we focus only on the public interest and only on projects that work with real-world institutions and partners, such as agencies and NGOs, to develop more effective and scalable initiatives.</p>
        </div>
        
        <div class="b-faq-item">
          <p class="e-question">How Does it Work?</p>
          <p class="e-answer">The coaching programs are  limited enrollment (maximum class size of 10 projects), entirely online, highly customized, and meet every week for 4 consecutive weeks or every other week for 8 weeks. To help you and your team become more effective, we offer a combination of coaching and skill-building, connection to a network of subject-matter experts, peer-to-peer mentoring, customized and original learning materials, and frequent and constructive feedback opportunities from a team of teachers and peers at every stage of your agile design-driven process.</p>
          <p>All GovLab Academy’s coaching programs offer a “flipped” learning experience. There are no experts at the front of the room or the top of the screen delivering packaged content to passive learners. You are at the center of everything we do – a civic entrepreneur working on real projects in real communities. Around you we organize the relevant materials, mentor and coaching networks, training exercises, and practice sessions.</p>
        </div>
        
        <div class="b-faq-item">
          <p class="e-question">Where Do the Sessions Meet?</p>
          <p class="e-answer">Entirely online.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">How Much Time Will This Take?</p>
          <ul class="e-answer">
            <li>Upon admission, faculty and staff will engage with your team to identify opportunities, diagnose problems, and develop a customized reading and research plan.</li>
            <li>Each week, the full group meets online with the faculty for 1-2 hours where one hour is discussion of projects by the group and the second hour is a guest lecture.</li>
            <li>Each week, participants meet on their own in smaller groups.</li>
            <li>Every other week, faculty and staff hold an "office" hour with the team to address project progress.</li>
          </ul>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Who May Participate?*</p>
          <div class="e-answer">
            <p>Innovators working inside, outside, or in collaboration with public institutions. We will give strong preference to team, as opposed to individual, applications -- especially teams based in US cities</p>
            <p>And you have:</p>
            <ul class="b-list">
              <li>A problem about which you are passionate.</li>
              <li>An open mind to developing innovative approaches that take advantage of technology to bring the broader palette of human expertise to bear on your problem.</li>
              <li>Intellectual curiosity and a willingness to experiment are essential for this course. No formal technology training is assumed or required, but a willingness to play with new tools will be.</li>
              <li>Time and energy to commit to the program activities.</li>
              <li>The drive to do what it takes to develop a project from idea to implementation with the potential of real-world impact for people and communities. Keep in mind that the way to have the greatest impact might not involve building an app or creating a new non-profit but collaborating with others.</li>
            </ul>
            <p>* Further pre-requisites may apply on specific courses</p>
          </div>
        </div>
        
        <div class="b-faq-item">
          <p class="e-question">How Do I Apply?</p>
          <div class="e-answer">
            <p>We want to understand the problem you or your team want to tackle with your project and your metrics for its success.</p>
            <p>Please <a href="https://screendoor.dobt.co/the-govlab/coaching-programs-application-form" target="_blank">click here to fill out an application for an Academy Coaching program</a>. The same form can be used for all of the Academy Programs. If applying as a team, each team member should fill out a separate application.</p>
            <p>Admitted applicants will be asked to <a href="./static/files/letter-of-commitment.pdf">sign this letter of commitment.</a></p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">There are Three People in My Office Who Want to Do This. Can Teams Apply?</p>
          <p class="e-answer">Yes, people are encouraged to apply as a team. Each member must complete his or her own skills profile, but teams work on a common project throughout the program. People can choose to become a team and work on a common project during the course of the program.
          </p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">When is the Application Due?</p>
          <div class="e-answer">
            <table>
              <thead>
                <th>Projects Focus</th>
                <th>Application due</th>
                <th>Starts the week of</th>
              </thead>
              <tbody>
                <tr>
                  <td>Citizen Science on the Web</td>
                  <td>Feb 6, 2015</td>
                  <td>Feb 16, 2015</td>
                </tr>
                <tr>
                  <td>Citizen Engagement Projects</td>
                  <td>Feb 13, 2015</td>
                  <td>March 2, 2015</td>
                </tr>
                <tr>
                  <td>Freedom of Information and FOIA Project Coaching: <br>
                      Breaking Down the Walls and Opening Up Communications</td>
                  <td>Feb 13, 2015</td>
                  <td>March 2, 2015</td>
                </tr>
                <tr>
                  <td>Civic Tech for Local Legislatures and Legislators</td>
                  <td>Feb 13, 2015</td>
                  <td>March 2, 2015</td>
                </tr>
                <tr>
                  <td>Tech Procurement Projects: Making the Supply Chain Work</td>
                  <td>Feb 20, 2015</td>
                  <td>March 16, 2015</td>
                </tr>
                <tr>
                  <td>Leveraging Crowds in the Public Sector</td>
                  <td>February 27, 2015</td>
                  <td>March 23, 2015</td>
                </tr>
                <tr>
                  <td>Humanitarian Innovation Project Coaching</td>
                  <td>March 13, 2015</td>
                  <td>April 6, 2015</td>
                </tr>
                <tr>
                  <td>Open Source Technology Practices For Civic Engagement</td>
                  <td>March 13, 2015</td>
                  <td>April 6, 2015</td>
                </tr>
                <tr>
                  <td>Lab Design: Bringing Agility and Empiricism to Public Problems</td>
                  <td>March 13, 2015</td>
                  <td>April 6, 2015</td>
                </tr>
                <tr>
                  <td>Open Data Project </td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td>Government Digital Services </td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td>Legal Innovation</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td>Open Contracting</td>
                  <td>TBA</td>
                  <td>TBA</td>
                </tr>
              </tbody>
            </table>  
          </div>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Who will lead each program?</p>
          <p class="e-answer">Each coaching program will be led by a leading experts of the field with the active support of Alan Kantrow (Chief Learning and Communications Officer of The GovLab), Arnaud Sahuguet (Chief Technology Officer of The GovLab) and Beth Noveck (Founder and Director of TheGovLab).</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Do I Get Course Credit?</p>
          <p class="e-answer">Those who successfully complete the requirements will receive an authenticated badge and certificate.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">How long is the program?</p>
          <p class="e-answer">The length of each program is every week for 4 consecutive weeks or every other week for 8 weeks.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Do I Have to Pay Something?</p>
          <p class="e-answer">No.</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Who are the Mentors? Can I Pick My Own?</p>
          <div class="e-answer">
            <p>Mentors are either subject matter experts working on similar problems or challenges or people who have a track record as effective change agents. The best mentors, of course, are your classmates.</p> 
            <p>You can find your own, but we commit to helping to pair you with relevant domain experts.</p>
          </div>
        </div>

        <div class="b-faq-item">
          <p class="e-question">This Looks Like a Lot of Work?</p>
          <p class="e-answer">It is. This is not a simulation but an opportunity to get a real civic tech project closer to implementation. A lot of work will need to get done outside the classroom, including user interviews and background research. Although we take account of the fact that people have other jobs and classes, this is a lot of work but in connection with your passions!</p>
        </div>

        <div class="b-faq-item">
          <p class="e-question">Will I receive a certificate upon completion of the program?</p>
          <p class="e-answer">We will provide a Certificate of Accomplishment for individuals who complete all requirements of each program.</p>
        </div>
      </div> 
    </div>     
  </section>  

	<section id="contact-message" class="row">
    <div class="column large-12">
      <h4>Still hungry for more information?</h4>
      <p>Send us an email at <a href="mailto:info-academy@thegovlab.org">info-academy@thegovlab.org</a></p>
    </div>
  </section>
	</div>

{% endblock %}
