{% extends "layout/base.html" %}
{% block content %}
<div id="faculty-members-page">
<div class="b-page-title">
    <div class="row">
      <div class="column large-12">
        <h2>Faculty Members</h2>    
      </div>
    </div>
  </div>
<div class="row">
	<div class="column large-12">
		{% for person in people %}
		<div id="{{person.name.slug}}" class="b-link-fix">
			<article class="b-person m-govlab-{{person.is_govlab}} b-pop-controls-container">
				<header>
					<div class="e-person-pic" style="background-image: url(static/img/people/{{person.img_url}})" title="{{person.name.first}} {{person.name.last}}"></div>

					<aside class="b-pop-controls">
		        <span class="e-pop-button m-pin"><i class="fa fa-thumb-tack"></i></span>
		        {% if person.link.url %}<a class="e-pop-button m-link" href="{{person.link.url}}"><i class="fa fa-link"></i></a>{% endif %}
		        {% if person.link.twitter %}<a class="e-pop-button m-twitter" href="{{person.link.twitter}}"><i class="fa fa-twitter"></i></a>{% endif %}
		        {% if person.link.linkedin %}<a class="e-pop-button m-linkedin" href="{{person.link.linkedin}}"><i class="fa fa-linkedin"></i></a>{% endif %}
		        {% if person.link.github %}<a class="e-pop-button m-github" href="{{person.link.github}}"><i class="fa fa-github"></i></a>{% endif %}
		        {% if person.link.email %}<a class="e-pop-button m-email" href="{{person.link.email}}"><i class="fa fa-envelope"></i></a>{% endif %}
		      </aside>
				</header>

	      <section> 
	        <h3 title="{{person.name.first}} {{person.name.last}}">{{person.name.first}} {{person.name.last}}</h3>
	        <h4>{{person.job}}</h4>
	        <p>{{person.description}}</p>
	      </section>
			</article>
		</div>
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}