{% extends "layout/base.html" %}
{% block content %}
<div id="homepage" class="b-content-page">
  <div id="intro">
    <div class="row">
      <div class="column large-12">
        <h2>How We Work</h2>
        <a class="e-canvas-link" href="http://govlab.github.io/academy-canvas/" target="_blank"><img src="./static/img/intro-canvas.png" alt=""></a>
      </div>
      <div class="column large-12 b-share">
        <div class="share-button"></div>
      </div>
    </div>
  </div>

  <section id="explanation">
    <div class="row">
      <div class="column large-12">
        <p>GovLab Academy offers passionate teams and individuals, inside and outside of government:</p>  
        <ul class="b-list">
          <li>Access to high-quality, curated content aimed at busy practitioners</li>
          <li>Mentoring designed to help take public interest projects from idea to implementation</li>
          <li>Connections to subject matter experts, who know what’s been tried and what does and does not work</li>
          <li>Tools for peer-to-peer learning and skill sharing</li>
        </ul>
      </div>
    </div>
  </section>
  
  <section class="b-courses-overview">
    <div class="row">
      <div class="column-large-12">
        <h2>The Programs We Offer</h2>
      </div>
      <div class="column large-6">
        <div id="project-coaching" class="b-course-summary m-project-coaching">
          <h3>Coaching Programs</h3>
          <p style="letter-spacing: -.2px;">Online coaching sessions for those involved with a civic tech project. Sessions meet every week for 4 weeks or every other week for 8 weeks. Limited to 10 teams or individuals</p>
          <p class="e-more-info"><a href="/coaching-programs.html">More Information</a></p>               
        </div>
      </div>
      <div class="column large-6">
        <div id="workshops" class="b-course-summary m-workshops">
          <h3>Workshops</h3>
          <p>Intensive, online 3 week-long substantive introductions to support teams about to start or already engaged at a specific stage of a civic innovation project.</p>
          <p class="e-more-info"><a href="/workshops.html">More Information</a></p>
        </div>
      </div>
      <div class="column large-6">
        <div id="master-courses" class="b-course-summary m-master-courses">
          <h3>Master Classes</h3>
          <p>Coming Soon</p>
        </div>
      </div>
      <div class="column large-6">
        <div id="normal-courses" class="b-course-summary m-normal-courses">
          <h3>Courses and Project Clinics</h3>
          <p>Masters - and professional-level project-based courses and clinics focused on the innovative application of civic technology to public problems. Online or blended delivery.</p>
          <p class="e-more-info"><a href="/regular-courses.html">More Information</a></p>
        </div>
      </div>
    </div>
  </section>

  <div class="b-signup">
    <div class="row">
    <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <div class="column large-12">
          <h3>Subscribe to our Mailing List</h3>
        </div>
        <div class="column large-12">
          <form action="//openinggovernment.us6.list-manage.com/subscribe/post?u=1a990feb5c&amp;id=6fa8847675" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <label for="mce-EMAIL"></label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_1a990feb5c_6fa8847675" tabindex="-1" value=""></div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="e-button m-large">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--End mc_embed_signup-->
  </div>

  <section id="digest">
    <div class="row">
      <div class="column large-12">
        <h2>The GovLab Digest</h2>
      </div>
      <div id="digest-container" class="column large-12">
        
      </div>
    </div>
  </section>

  <section class="b-signup m-digest">
    <div class="row">
      <div class="column large-12">
        <h3>Subscribe to the GovLab Digest</h3>
        <p class="e-tagline">A weekly curation of new findings and developments on innovation in governance.</p>
      </div>
      <div class="column large-12">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//thegovlab.us6.list-manage.com/subscribe/post?u=1a990feb5c&amp;id=d90a01c7ff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <label for="mce-EMAIL"></label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_1a990feb5c_d90a01c7ff" tabindex="-1" value=""></div>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="e-button m-large">
            </div>
          </form>
          </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </section>

  

  <section id="partners" class="b-partners">
    <div class="row">
      <h2>Our Partners</h2>
      <a class="e-partner-logo" title="NYU | New York University"><img src="./static/img/partners/partner-logos-nyu-gray.png" alt="School of Professional Services/NYU"></a>
      <a class="e-partner-logo" title="World Bank"><img src="./static/img/partners/partner-logos-worldbank-gray.png" alt="World Bank"></a>
      <a class="e-partner-logo" title="MindLab"><img src="./static/img/partners/partner-logos-mindlab-gray.png" alt="MindLab"></a>
      <a class="e-partner-logo" title="MIT Media Lab"><img src="./static/img/partners/partner-logos-mit-medialab-gray.png" alt="MIT Media Lab"></a>
      <br><a class="e-partner-logo" title="Arizona State Universty"><img src="./static/img/partners/partner-logos-arizona-uni-gray.png" alt="Arizona State Universty"></a>
      <a id="cusp" class="e-partner-logo" title="CUSP"><img src="./static/img/partners/partner-logos-cusp-gray.png" alt="CUSP"></a>
      <a class="e-partner-logo" title="NESTA"><img src="./static/img/partners/partner-logos-nesta-gray.png" alt="NESTA"></a>
      <a class="e-partner-logo" title="ODI"><img src="./static/img/partners/partner-logos-odi-gray.png" alt="ODI"></a>
    </div>
  </section>
  <section id="demos-for-democracy">
    <a href="http://thegovlab.org/democracy-demos/" target="_blank"><div></div></a>
  </section>
</div>
{% endblock %}