{% extends "layout/base.html" %}
{% block content %}
<div id="gallery-page" class="b-content-page">
	<div class="b-page-title">
    <div class="row">
      <div class="column large-12">
    		<h2>Library</h2>	
        <span class="e-filters-trigger e-button">Filters</span>
      </div>
  	</div>
	</div>

	<section class="b-filters">
		<h4>Filters
      <span class="e-filter m-show-all" data-filter="all">Show All</span>
		</h4>
    <ul>
      {% for tag in libraryTags %}
				<li class="e-filter" data-filter="{{tag}}">{{tag}}</li>
		{% endfor %}
		</ul>
	</section>

	<div class="row">
    <h3 class="column large-12">GovLab Academy Library</h3>
    <div class="b-card-isotopes column large-12">
      <div class="b-card-wrapper">
        {% for card in library|sort(attribute='title') %}
          {% if card.description %}
          
          <article class="b-card m-project m-clinic b-pop-controls-container" data-filter="{% for tag in card.slugTags %}{{tag}}{% endfor %}">
              <div class="b-wrapper">
                <header class="b-card-header">
                  <aside class="b-pop-controls">
                    {# <span class="e-pop-button m-pin"><i class="fa fa-thumb-tack"></i></span> #}
                    <a class="e-pop-button m-link" href="{{card.url}}"><i class="fa fa-external-link"></i></a>
                    <a class="e-pop-button m-linkedin" href="yrdy"><i class="fa fa-linkedin"></i></a>
                  </aside>
                </header>

                <div class="e-card-content">
                  <h3 title="{{card.title}}"><a href="{{card.url  }}" target="__new__">{{card.title}}</a></h3>
                  {# <p>By: {% for author in card.authors %}<span>{{author.first_name}} {{author.last_name}}, </span>{% endfor %} </p> #}
                </div>
              </div>
          </article>
          {% endif %}
        {% endfor %}  
      </div>
    </div>
  </div>
	<section id="contact-message" class="row b-content-section">
    <div class="column large-12">
      <h4>Still hungry for more information?</h4>
      <p>Send us an email at <a href="mailto:info-academy@thegovlab.org">info-academy@thegovlab.org</a></p>
    </div>
  </section>
</div>
{% endblock %}