{% extends "layout/base.html" %}
{% block content %}
<div id="master-classes-page" class="b-content-page">
	<h2>Master Classes</h2>
	<div class="row">
	<section class="b-course-description column large-6">
		<p>Short, intensive, 2-3 week courses designed as substantive introductions to specific areas of civic tech innovation, such as crowdsourcing wisely, as well as to key skill development topics, such as problem definition and “killer memo” drafting.</p>
	</section>
	<section class="b-course-info column large-6">
	    <ul>
	      <li><strong>WHO</strong> Open to all</li>
	    	<li><strong>WHAT</strong> Video-based lectures plus optional live discussion sessions</li>
	      <li><strong>WHEN</strong> On your own</li>
	      <li><strong>WHERE</strong> Online</li>
	    </ul>
		</section>
	</div>		
</div>
{% endblock %}
