{% extends "layout/base.html" %}
{% block content %}
<div id="gallery-page" class="b-content-page">
	<div class="b-page-title">
    <div class="row">
      <div class="column large-12">
    		<h2>Project Gallery</h2>	
        <span class="e-filters-trigger e-button">Filters</span>
      </div>
  	</div>
	</div>

	<section class="b-filters">
		<h4>Filters
      <span class="e-filter m-show-all" data-filter="all">Show All</span>
		</h4>
    <ul>
		{% for card in projects %}
			{% for tag in card.tags %}
				{% if tag %}
				<li class="e-filter" data-filter="{{tag}}">{{tag}}</li>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</ul>
	</section>

	<div class="row">
    <h3 class="column large-12">Selected Projects from GovLab Academy Participants</h3>
    <div class="b-card-isotopes column large-12">
      <div class="b-card-wrapper">
        {% for card in projects|sort(attribute='title') %}
          {% if card.summary %}
          
          <article class="b-card m-project m-clinic" data-filter="{% for tag in card.tags %}{{tag}}{% endfor %}">
            <a class="b-go-to" href="project-page.html#{{card.slug}}">
              <div class="b-wrapper">
                {% if card.links.image %}      
                <header class="b-card-header">
                  <div class="e-project-pic" style="background-image: url(static/projects/{{card.slug}}/{{card.links.image}})" title=""></div>
                </header>
                {% endif %}
                <div class="e-card-content">
                  <h3 title="{{card.title}}">{{card.title}}</h3>
                  <p>By: {% for author in card.authors %}<span>{{author.first_name}} {{author.last_name}}, </span>{% endfor %} </p>
                </div>
              </div>
            </a>
          </article>
          {% endif %}
        {% endfor %}  
      </div>
    </div>
  </div>
	<section id="contact-message" class="row">
    <div class="column large-12">
      <h4>Still hungry for more information?</h4>
      <p>Send us an email at <a href="mailto:info-academy@thegovlab.org">info-academy@thegovlab.org</a></p>
    </div>
  </section>
</div>
{% endblock %}


<!-- <article class="{{class}} b-card m-people m-govlab-{{person.is_govlab}} b-pop-controls-container" data-filter="{{person.tags}}">
  <a href="faculty-members.html#{{person.name.slug}}">
    <div class="b-wrapper">
      <header class="b-card-header">
        <div class="e-person-pic" style="background-image: url(static/img/faculty/{{person.img_url}})" title="{{person.name.first}} {{person.name.last}}"></div>
        <h3 data-category="{{person.name.last}}" title="{{person.name.first}} {{person.name.last}}">{{person.name.first}} {{person.name.last}}</h3>
      </header>
      <section class="e-card-content"> 
        <h4>{{person.job}}</h4>
        <p>{{person.description}}</p>
      </section>
    </div>
  </a>
</article> -->