{% extends "layout/base.html" %}
{% block content %}
<div id="project-page" class="b-content-page">
	<div class="b-page-title">
    <div class="row">
    	<div class="column large-12">
	  		<h2>Projects</h2>	
  		</div>
  	</div>
	</div>
	<div class="row">
		<div class="column large-12">
			{% for project in projects %}
			<div id="{{project.slug}}" class="b-link-fix">
				<article  class="b-project-detail m-clinic b-pop-controls-container">
					
					<header>
						<h2>{{project.title}}</h2>
						<h5>{{project.location}} | {% if project.status %}<span class="e-project-status">{{project.status}}</span>{% endif %}</h5>
					</header>
					
					<aside class="e-project-detail-aside">
						{% if project.logo %}
						<section class="e-project-logo">
							<img src="static/projects/{{project.slug}}/{{project.logo}}" alt="{{project.title}}">
						</section>
						{% endif %}

						<section>
							<h3>Authors</h3>
							{% for author in project.authors %}
								<p><a href="{{author.url}}">{{author.first_name}} {{author.last_name}}</a></p>
							{% endfor %}
						</section>
						
						<section>
							<h3>Resources</h3>
							<ul>
							{% for file in project.files %}
								<li class="e-project-files"><a href="static/projects/{{project.slug}}/{{file.filename}}" target="_blank">{{file.label}}</a></li>
							{% endfor %}
							</ul>
						</section>
						
						
						<section>
							<h3>Links</h3>
							{% if project.links.truonex %}<a class="e-button" href="{{project.links.truonex}}">Truonex Profile</a>{% endif %}
							{% if project.links.url %}<a class="e-button m-link" href="{{project.links.url}}">Website</a>{% endif %}
							{% if project.links.demo %}<a class="e-button m-play" href="{{project.links.demo}}">Demo</a>{% endif %}
						</section>
						

					</aside>
					
					<div class="e-project-detail-main">
						{% if project.summary %}
						<section>
							<h3>Project Summary</h3>
							<p>{{project.summary}}</p>
						</section>
						{% endif %}
						{% if project.problem_statement %}
						<section>
							<h3>Problem Statement</h3>
							<p>{{project.problem_statement}}</p>
						</section>
						{% endif %}
						{% if project.why_compelling %}
						<section>
							<h3>Why is it Compelling</h3>
							<p>{{project.why_compelling}}</p>
						</section>
						{% endif %}
					</div>

					<div class="b-pop-controls">
		        
		        
		      </div>
				</article>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}