{% extends "layout/base.html" %}
{% block content %}
<div id="master-courses-page" class="b-content-page">
	<div class="b-page-title">
    <div class="row">
  		<span class="e-filters-trigger e-button">Filters</span>
  		<h2>Project Gallery</h2>	
  	</div>
	</div>

	<section class="b-filters">
		<h4>Filters
      <span class="e-filter m-show-all" data-filter="all">Show All</span>
	    
		</h4>
    <ul>
		{% for card in projects %}
			{% for tag in card.tags %}
				{% if tag %}
				<li class="e-filter" data-filter="{{tag}}">{{tag}}</li>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</ul>
	</section>

	<div class="row">
    <h3 class="column large-12">Projects from Solving Public Problems with Technology</h3>
    <div class="b-card-isotopes column large-12">
      <div class="b-card-wrapper">
        {% for card in projects %}
          {% if card.summary %}
          <article class="b-card m-project m-clinic b-pop-controls-container" data-filter="{% for tag in card.tags %}{{tag}}{% endfor %}">
            <div class="b-wrapper">
              <h3 title="{{card.title}}">{{card.title}}</h3>
              <div class="b-pop-controls">
                <span class="e-pop-button m-pin"><i class="fa fa-thumb-tack"></i></span>
                <a class="e-pop-button m-goto" href="project-page.html#{{card.slug}}"><i class="fa fa-link"></i></a>
              </div>
              <h4>{{card.authors.first_name}} {{card.authors.last_name}}</h4>
              <p>{{card.summary}}</p>
            </div>
          </article>
          {% endif %}
        {% endfor %}  
      </div>
    </div>
  </div>
	<section id="contact-message" class="row">
    <div class="column large-12">
      <h4>Still hungry for more information?</h4>
      <p>For more detailed information, questions, doubts, etc. Send us an email at <a href="mailto:info-academy@thegovlab.org">info-academy@thegovlab.org</a></p>
    </div>
	</section>
</div>
{% endblock %}