{% extends "layout/base.html" %}
{% block content %}
<div id="normal-courses-page" class="b-content-page">
	<div class="b-page-title m-normal-courses">
    <div class="row">
      <div class="column large-12">
        <h2 style="letter-spacing: -3px;">Courses &amp; Project Clinics</h2>    
        <p>Graduate - and professional-level courses, for credit and/or for certification, on the overall governance innovation process, as well as on specific technology-enabled approaches to governance innovation.</p>
      </div>
    </div>
  </div>
	<section class="b-course-list row">
		<ul class="column large-12">
			{% for course in clinics %}

			<li class="b-course-list-item m-clinic">
        <h4 class="e-course-date">{{course.date}}</h4>
        <h3 class="e-course-name">{{course.name}}</h3>
        
        <div class="e-certifications">
          {% if course.certificates.blended %}
            <img src="static/img/icons/icons-blended.png" title="Blended Course" class="e-course-icons m-blended">
          {% endif %}

          {% if course.certificates.online %}
            <img src="static/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
          {% endif %}

          {% if course.certificates.in_person %}
            <img src="static/img/icons/icons-in-person.png" title="In Person Course" class="e-course-icons m-in-person">
          {% endif %}

          {% if course.certificates.for_certificate %}
          <img src="static/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
          {% endif %}

          {% if course.certificates.for_credit %}
          <img src="static/img/icons/icons-credit.png" title="For Credit Course" class="e-course-icons m-credit">
          {% endif %}

        </div>
        <div class="e-course-description">
          <p>{{course.description_short}}</p>
        </div>
        
        {% if course.actions %}
          <div class="e-course-controls">
  					{% for button in course.actions %}
            <a class="e-button" href="{{button.link}}" target="_blank">{{button.label}}</a>
            {% endfor %}
          </div>
        {% endif %}

        {% if course.faculty_members %}
          <div class="e-course-faculty">
            {% for name in course.faculty_members %}
              {{ showPerson(people|selectattr("name", "equalto", name)|first) }}
            {% endfor %}
          </div>
        {% endif %}

        {% if course.partner %}
          <h5 class="e-partner">In partnership with {{course.partner}}</h5>
		    {% endif %}
        
      </li>

			{% endfor %}			
		</ul>
	</section>
</div>
{% endblock %}