{% extends "layout/base.html" %}
{% block content %}
<div class="b-content-page">
<section class="b-course-list row">
  <ul class="column large-12">
        
    <li class="b-course-list-item">
      <h4 class="e-course-date">February 2015</h4>
      <h3>Open Contracting projects</h3>
      <div class="e-certifications">
        <img src="static/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
        <img src="static/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
      </div>
      <div class="e-course-content">
        <div class="e-course-description">
          <p>Support for efforts to design and implement public sector initiatives that deliver important citizen-focused services</p>
        </div>
        
      </div>
      <div class="e-course-controls">
        <a class="e-button" href="../static/files/analytics-for-change.pdf" target="_blank">Course Syllabus</a>
        <a class="e-button" href="http://cusp.nyu.edu/exec-ed-1day/" target="_blank">Course Page</a>
      </div>
      <div class="e-course-faculty">

        

      </div>
      <h5 class="e-partner">In partnership with CUSP</h5>
    </li>
  </ul>
</section>














{#
  - This is the macro to display a person.
  - You can define as many macros as you want.
#}

{% macro showPerson(person) -%}
  <article class="b-mini-card m-govlab-True">
    <div class="e-person-pic" style="background-image: url('static/img/people/{{person.img_url}}')"></div>
    <h3 title="{{person.name}}">{{person.name}}</h3>
  </article>
{%- endmacro %}

<div class="e-course-faculty">

  {#
  - You define the names of people you want to display.
  - You filter the `people` list by name.
  - You use the macro to displau them.
  #}

  {% for name in ['Alan Kantrow', 'Timothy Savage'] %}
  {{ showPerson(people|selectattr("name", "equalto", name)|first) }}
  {% endfor %}

</div>

<div class="e-course-faculty">

  {#
  - You define the names of people you want to display.
  - You filter the `people` list by name.
  - You use the macro to displau them.
  #}

  {% for name in ['Alan Kantrow', 'Timothy Savage'] %}
  {{ showPerson(people|selectattr("name", "equalto", name)|first) }}
  {% endfor %}

</div>

<div class="e-course-faculty">
          
  {#
  - You define the list of people to choose from; here the first 5.
  - You call the macro for each of them.
  #}

  {% for person in people[0:5] %}
  {{ showPerson(person) }}
  {% endfor %}

</div>

</div>
{% endblock %}