{% extends "layout/base.html" %}
{% block content %}

<div id="" class="b-content-page">
  <section class="b-gallery-filters">
    <div class="row">
      <form action="">
        <div class="e-select-field">
          <select name="" id="">
            <option value="">Innovation Area</option>
            <option value="">innovation area tag</option>
            <option value="">innovation area tag</option>
            <option value="">innovation area tag</option>
            <option value="">innovation area tag</option>
          </select>
        </div>
        <div class="e-select-field">
          <select name="" id="">
            <option value="">Location</option>
            <option value="">location tag</option>
            <option value="">location tag</option>
            <option value="">location tag</option>
          </select>
        </div>
        <div class="e-select-field">
          <select name="" id="">
            <option value="">Status</option>
            <option value="">status tag</option>
            <option value="">status tag</option>
          </select>
        </div>
      </form>
    </div>
  </section>

  <section class="b-project-list">
    <i class="e-prev fa fa-2x fa-angle-left"></i>
    <i class=" e-next fa fa-2x fa-angle-right"></i>
    <div class="e-thumb-container">
      <div class="e-project-thumb" title="project name"></div>
      <div class="e-project-thumb" title="project name from firebase and mor etext"></div>
      <div class="e-project-thumb" title="project name"></div>
      <div class="e-project-thumb" title="project name from firebase"></div>
      <div class="e-project-thumb" title="project name"></div>
      <div class="e-project-thumb" title="project name from firebase and mor etext"></div>
      <div class="e-project-thumb" title="project name"></div>
      <div class="e-project-thumb" title="project name from firebase"></div>
      <div class="e-project-thumb" title="project name"></div>
      <div class="e-project-thumb" title="project name from firebase"></div>
      <div class="e-project-thumb" title="project name from firebase"></div>
      <div class="e-project-thumb" title="project name from firebase"></div>
      <div class="e-project-thumb" title="project name from firebase"></div>
      <div class="e-project-thumb" title="project name from firebase"></div>
      <div class="e-project-thumb" title="project name from firebase"></div>
      <div class="e-project-thumb" title="project name from firebase"></div>
    </div>
  </section>
  <section class="b-project-item">
    <div class="e-project-banner">
      <div class="e-project-banner-overlay">
        <div class="row">
          <div class="large-12 column">
            <h2 class="e-project-title">Project Title</h2>
            <p class="e-project-tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eius optio reiciendis debitis tempore? Ratione aliquam tempora culpa, suscipit quaerat? Mollitia delectus pariatur similique laboriosam nesciunt aut veniam, quaerat voluptatum?</p>
            <div class="e-project-status m-define">
              Status
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-8 e-main-content e-intro column">
        <div class="e-main-content-section">
          <h3>Project Description</h3>
          <p class="e-project-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde non maiores rem optio iste quaerat, facere vitae voluptatibus impedit ipsam debitis adipisci nisi suscipit consequuntur ex dolor tempore! Sed, accusamus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio molestias perspiciatis hic nobis neque ab deleniti a. Eligendi doloribus temporibus odio, necessitatibus sequi, voluptate exercitationem quia fuga nobis asperiores, esse.</p>
        </div>
        <div class="e-main-content-section">
          <h3>Project Images</h3>
          <div class="e-image-gallery">
            <img class="js-image-gallery-item" src="../static/img/landing-image4.jpg" alt="">
            <img class="js-image-gallery-item" src="../static/img/landing-image3.jpg" alt="">
            <img class="js-image-gallery-item" src="../static/img/landing-image2.jpg" alt="">
            <img class="js-image-gallery-item" src="../static/img/landing-image4.jpg" alt="">
            <img class="js-image-gallery-item" src="../static/img/landing-image3.jpg" alt="">
            <img class="js-image-gallery-item" src="../static/img/landing-image2.jpg" alt="">
            <img class="js-image-gallery-item" src="../static/img/landing-image4.jpg" alt="">
            <img class="js-image-gallery-item" src="../static/img/landing-image2.jpg" alt="">
            <img class="js-image-gallery-item" src="../static/img/landing-image3.jpg" alt="">
          </div>
        </div>
        <div class="e-main-content-section e-news">
          <h3>News</h3>
          <p class="e-news-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde non maiores rem optio iste quaerat, facere vitae voluptatibus impedit ipsam debitis adipisci nisi suscipit consequuntur ex dolor tempore!
          <span class="e-pub-date">1 hour ago</span>
          </p>
          <p class="e-news-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde non maiores rem optio iste quaerat, facere vitae voluptatibus impedit ipsam debitis adipisci nisi suscipit consequuntur ex dolor tempore!
          <span class="e-pub-date">1 day ago</span>
          </p>
        </div>
        <div class="e-main-content-section e-news">
          <h3>Discussion</h3>
          <p>Insert Disquss code</p>
        </div>
      </div>
      <div class="large-4 e-sidebar column">
        <div class="e-share e-sidebar-section">
          <h4>Share this project</h4>
          <a href="#" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fa fa-lg fa-envelope"></i></a>
        </div>
        <div class="e-team e-sidebar-section">
          <h4>Team</h4>
          <div class="e-team-member">
            <div class="e-team-pic"></div>
            <div class="e-team-name">Claudio Mendonca</div>
          </div>
          <div class="e-team-member">
            <div class="e-team-pic"></div>
            <div class="e-team-name">Claudio Mendonca</div>
          </div>
          <div class="e-team-member">
            <div class="e-team-pic"></div>
            <div class="e-team-name">Claudio Mendonca</div>
          </div>
          <div class="e-team-member">
            <div class="e-team-pic"></div>
            <div class="e-team-name">Claudio Mendonca</div>
          </div>
        </div>
        <div class="e-location e-sidebar-section">
          <h4>Location</h4>
          <p>Bristol, UK</p>
        </div>
        <div class="e-links e-sidebar-section">
          <h4>Links</h4>
          <ul>
            <li><a href="#" target="_blank">Website</a></li>
            <li><a href="#" target="_blank">Github</a></li>
            <li><a href="#" target="_blank">Youtube</a></li>
          </ul>
        </div>
        <div class="e-related-projects e-sidebar-section">
          <h4>See Also</h4>
          <div class="e-related-project"></div>
          <div class="e-related-project"></div>
          <div class="e-related-project"></div>
          <div class="e-related-project"></div>
          <div class="e-related-project"></div>
          <div class="e-related-project"></div>
          <div class="e-related-project"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

</div>


{% endblock %}