{% extends "layout/base.html" %}
{% block content %}

<link href="//d3q1ytufopwvkq.cloudfront.net/0.2.7/formrenderer.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//d3q1ytufopwvkq.cloudfront.net/0.2.7/formrenderer.js"></script>

<form data-formrenderer></form>

<script>
  new FormRenderer({
    "project_id": 714,
    "afterSubmit": {
      "method": "page",
      "html": "<p>Thanks for submitting our form!</p>"
    }
  });
</script>

<iframe id='frame' width='500' height='600' src='http://screendoor.dobt.co/embedded/projects/714/responses/new' frameborder='0' marginheight='0' marginwidth='0'></iframe>



{% endblock %}