{% extends "layout/base.html" %}

{% block head %}
    <script src="static/assets/foundation/js/vendor/jquery.js"></script>
<link href="//d3q1ytufopwvkq.cloudfront.net/0.2.8/formrenderer.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//d3q1ytufopwvkq.cloudfront.net/0.2.8/formrenderer.js"></script>
{% endblock %}

{% block content %}

<div class="row">
<section>
This is a simple test.

<form data-formrenderer></form>

</section>
</div>

<script>
$( document ).ready(function() {
  new FormRenderer({
    "project_id": 714,
    "afterSubmit": {
      "method": "page",
      "html": "<p>Thanks for submitting our form!</p>"
    }
  });
});
</script>

{#
<iframe id='frame' width='500' height='600' src='http://screendoor.dobt.co/embedded/projects/714/responses/new' frameborder='0' marginheight='0' marginwidth='0'></iframe>
#}


{% endblock %}