{% extends "layout/base.html" %}
{% block content %}
<div id="workshops-page" class="b-content-page">
	<h2>Workshops</h2>
	<div class="row">
		<section class="column large-6">
			<div class="column large-12">
      <p>Limited enrollment (maximum class size 30; maximum number of teams, 6), customized 1-2 day, intensively “hands on,” in-person working sessions for city - and government agency-based teams preparing to wrestle with the specific issues and challenges at one or another stage of the governance innovation process</p>
      <p><strong>A few workshops, duly noted, are offered on specific dates and open to application by all</strong></p>
			</div>
		</section>

		<section class="b-course-info column large-6">
	    <ul>
	      <li><strong>WHO</strong> Teams of civic entrepreneurs, especially in government or other organizations. Maximum of 30 individuals and/or 6 teams</li>
	    	<li><strong>WHAT</strong> Highly interactive workshop, leveraging a combination of mini-lectures, team-based exercises, and post-session follow-up</li>
	      <li><strong>WHEN</strong> 1-2 day sessions by arrangement</li>
	      <li><strong>WHERE</strong> In-person</li>
	    </ul>
	    
		</section>
	</div>	

	<section class="b-course-list row">
		<ul class="column large-12">
			{% for course in workshops %}

			<li class="b-course-list-item">
        <h4 class="e-course-date">{{course.date}}</h4>
        <h3>{{course.name}}</h3>
        <div class="e-certifications">
          <img src="static/img/icons/icons-online.png" title="Online Course" class="e-course-icons m-online">
          <img src="static/img/icons/icons-certification.png" title="For Certification Course" class="e-course-icons m-certification">
        </div>
        <div class="e-course-content">
          <div class="e-course-description">
            <p>{{course.description_short}}</p>
          </div>
          
        </div>
        <div class="e-course-controls">
          {% if course.actions %}
					{% for button in course.actions %}
          <a class="e-button" href="{{button.link}}" target="_blank">{{button.label}}</a>
          {% endfor %}
          {% endif %}
        </div>
        <div class="e-course-faculty">

          {% if course.faculty_members %}
          {% for name in course.faculty_members %}
            {{ showPerson(people|selectattr("name", "equalto", name)|first) }}
          {% endfor %}
          {% endif %}
        </div>

        {% if course.partner %}
        <h5 class="e-partner">In partnership with {{course.partner}}</h5>
		    {% endif %}
        
      </li>

			{% endfor %}			
		</ul>
	</section>

	<section id="contact-message" class="row">
    <div class="column large-12">
      <h4>Still hungry for more information?</h4>
      <p>For more detailed information, questions, doubts, etc. Send us an email at <a href="#">email@thegovlab.org</a></p>
    </div>
	</section>
	</div>
{% endblock %}
