<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}The GovLab Academy - Beta{% endblock %}</title>
    <link rel="stylesheet" href="static/assets/foundation/css/foundation.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/styles/styles.css" />
    <link rel="stylesheet" href="static/styles/dev.css" />
    <script src="static/assets/foundation/js/vendor/modernizr.js"></script>
    <!-- LocalHost Typekit -->
    <script src="//use.typekit.net/eub5nfu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script> 
    
    <!-- Divshot Typekit 
    <script src="//use.typekit.net/pgm4fwy.js"></script>
    <script>try{Typekit.load();}catch(e){}</script> -->
  </head>
  <body>

      <!-- Template to generate faculty members in course-lists -->
    {% macro showPerson(person, class="default-class") -%}
      <article class="{{class}} b-card m-people m-govlab-{{person.is_govlab}} b-pop-controls-container" data-filter="{{person.tags}}">
        <div class="b-wrapper">
          <header class="b-card-header">
            <div class="e-person-pic" style="background-image: url(static/img/people/{{person.img_url}})" title="{{person.name.first}} {{person.name.last}}"></div>
            <h3 title="{{person.name.first}} {{person.name.last}}">{{person.name.first}} {{person.name.last}}</h3>
          </header>
          <aside class="b-pop-controls">
            <span class="e-pop-button" href="{{person.bio_url}}"><i class="fa fa-thumb-tack"></i></span>
            <a class="e-pop-button e-pop-button-link" href="{{person.bio_url}}"><i class="fa fa-link"></i></a>
          </aside>
          <section class="e-card-content"> 
            <h4>{{person.job}}</h4>
            <p>{{person.description}}</p>
          </section>
        </div>
      </article>
    {%- endmacro %}
    
    <header class="b-top-navigation-wrapper">
      <div class="b-top-navigation">
        <span class="e-mainnav-trigger"><i class="fa-bars fa"></i></span>
        <div class="row">
          <h1 class="b-logo"><a href="/index.html"><img src="static/img/govlab-logo-white.png" alt="Govlab Logo"><span>Academy</span></a></h1>
          <nav class="b-main-nav-container">
            <ul class="b-main-nav">
              <h2>Menu</h2>
              <li><a href="/about.html">About</a></li>
              <li class="e-submenu"><a href="/offerings.html">Offerings</a>
                <ul>
                  <li><a class="e-sub-item" href="/coaching-programs.html">Coaching Programs</a></li>
                  <li><a class="e-sub-item" href="/workshops.html">Workshops</a></li>
                  <li><a class="e-sub-item" href="/master-classes.html">Master Classes</a></li>
                  <li><a class="e-sub-item" href="/regular-courses.html">Courses and Project Clinics</a></li>
                </ul>
              </li>
              <li><a href="/project-gallery.html">Project Gallery</a></li>
              <li><a class="m-disabled" href="#">Library</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!--<section class="b-pre-content row">
       <div class="b-message-box ">
        <p><a href="#">Ideas Lunch</a> with Pia Mancini</p>
      </div> -->
      <!-- <div class="b-highlights">
        <p>Message 1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit ratione totam nobis quas quo earum.</p>
        <p>Message 2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit ratione totam nobis quas quo earum.</p>
        <p>Message 3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit ratione totam nobis quas quo earum.</p>
        <p>Message 4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit ratione totam nobis quas quo earum.</p>
      </div> 
    </section> -->

    <section class="b-main-content">
      
      {% block content %}
        Main content
      {% endblock %}

    </section>
    <div id="overlay"></div>
    <!-- Footer -->
    <footer class="b-footer" >
      <div class="row">
        <div class="column large-6 small-12">
          <h4>Sponsored by</h4>
          <img id="knight-logo" src="../../static/img/knight-logo-white.png" alt="Knight Foundation">
        </div>
        <div class="column large-6 small-12">
          
        </div>
      </div>
      <div class="row">
        <p class="e-creative-commons">This work by GovLab is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License.</p>
      </div>
    </footer>
    <!-- Vendor Stuff -->
    <script src="static/assets/foundation/js/vendor/jquery.js"></script>
    <script src="static/assets/foundation/js/foundation.min.js"></script>
    <script src="static/assets/swipe/swipe.js"></script>
    <script src="static/assets/foundation/js/vendor/jquery.js"></script>
    <script src="static/assets/foundation/js/foundation.min.js"></script>
    <script src="static/assets/isotope.pkgd.min.js"></script>
    <script src="static/assets/swipe/swipe.js"></script>

    <!-- My custom JS -->
    <script src="static/js/scripts.js"></script>
    {% block scripts %}
      <!-- Scripts for specific pages -->
    {% endblock %}
    
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    
  </body>
</html>













